@page

@model IndexModel
@{
    ViewData["Title"] = "Giriş Ekranı";
    Layout = "~/Pages/Shared/_LayoutFinanceMzn.cshtml";
}

@using System.Text.Json
@using System.Threading
@using fincheckup.ApiClients.Models
@using fincheckup.ApiClients.Models.Requests.Finance.Mizan.Konsol.DashBilancoKon
@using fincheckup.ApiClients.Services.Finance
@using fincheckup.Helper

@functions {
    public class IndexModel(IFinanceMizanKonsolDashBilancoKonClient apiClient) : PageModel
    {
        private readonly IFinanceMizanKonsolDashBilancoKonClient _apiClient = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
        public MizanDashBilancoKonRequestInitialModel InitialModel;

    
        
        public async Task OnGet(int myear)
        {
            try
            {
                var response = await _apiClient.GetAsync(new  MizanDashBilancoKonOnGetRequest(), CancellationToken.None);
                if (response.IsSuccess)
                {
                    InitialModel = response.Data?.InitialModel;
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }

        }

        public async Task<JsonResult> OnGetSalerMain(DataSourceLoadOptions options, string dt1)
        {
/*
            dt1 = "105";
            var winModelTlist = Data.Get_AllbyCsvID(dt1);
            return new JsonResult(DataSourceLoader.Load(winModelTlist, options));
*/
            return new JsonResult("Burada hata var finance/mizan/konsol/DashBialcoKon/OnGetSalerMain");

        }

        public JsonResult OnGetPrio(DataSourceLoadOptions options)
        {

            //return new JsonResult(DataSourceLoader.Load(ShedulerCL.PriorityResources, options));
            return new JsonResult("Burada hata var finance/mizan/konsol/DashBialcoKon/OnGetPrio");
        }
        
        public async Task<IActionResult> OnGetGraphYear(int nyear)
        {
            /*UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            HhvnUsers.SetYear(nyear, UserID);
            return new JsonResult("ok");*/
            try
            {
                
                await OnGet(nyear);
                
                var response = await _apiClient.GetGraphYearAsync(new MizanDashBilancoKonOnGetGraphYearRequest()
                {
                    nyear = nyear
                }, CancellationToken.None);
               
                if (response.IsSuccess && response.Data?.Response != null)
                {
                    var payload = response.Data.Response.Value.GetRawText();
                    return Content(payload, "application/json");
                }

                Console.WriteLine(response.ProblemDetails?.Detail);
                return new JsonResult(response.ProblemDetails?.Detail ?? "GraphYear başarısız");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            } 
        }

        public JsonResult OnGetGraphComp(int ncompid)
        {
            /*if (ncompid < 1)
            {
                return new JsonResult("nok");

            }

            UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            if (!HhvnUsers.CheckUser(ncompid, UserID))
            {
                return new JsonResult("ok");
            }



            UserCompany.Update_UserDefault(UserID, ncompid);

            return new JsonResult("ok");*/
            return new JsonResult("Burada hata var finance/mizan/konsol/DashBialcoKon/OnGetGraphComp");

        }

        public async Task<IActionResult> OnGetMarkupMarjin(DataSourceLoadOptions options, int myear, long compid)
        {
            /*
            List<DashBilancoViewMulti> chklist = new List<DashBilancoViewMulti>();
            if (compid < 1)
            {
                return new JsonResult(DataSourceLoader.Load(chklist, options));
            }



            nRequestList = DashGelirTablosu.Get_MAINBilancoMznAktMultiKon(compid);

            return new JsonResult(DataSourceLoader.Load(nRequestList.Where(x => x.IsHidden == 0), options));
       
       */
            
            try
            {
                var response = await _apiClient.GetMarkupMarjinAsync(new  MizanDashBilancoKonOnGetMarkupMarjinRequest()
                {
                    myear = myear,
                    compid = compid, options = options
                }, CancellationToken.None);
               
                if (response.IsSuccess && response.Data?.Response is JsonElement je)
                {
                    // API camelCase; PivotGrid DashBilancoViewMznShort alanlari PropertyNamingPolicy=null ile PascalCase bekler.
                    if (je.ValueKind == JsonValueKind.String)
                    {
                        var inner = je.GetString();
                        if (!string.IsNullOrEmpty(inner))
                        {
                            var normalizedInner = DevExtremeMarkupMarjinPayloadNormalizer.TryNormalizeDashBilancoViewMznShortPayload(inner);
                            return new ContentResult { Content = normalizedInner ?? inner, ContentType = "application/json" };
                        }
                    }
                    else if (je.ValueKind != JsonValueKind.Null && je.ValueKind != JsonValueKind.Undefined)
                    {
                        var normalized = DevExtremeMarkupMarjinPayloadNormalizer.TryNormalizeDashBilancoViewMznShortPayload(je.GetRawText());
                        return new ContentResult { Content = normalized ?? je.GetRawText(), ContentType = "application/json" };
                    }
                }

                Console.WriteLine(response.ProblemDetails?.Detail);
                var emptyRows = new List<DashBilancoViewMznShort>();
                return new JsonResult(DataSourceLoader.Load(emptyRows, options));
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                var emptyRows = new List<DashBilancoViewMznShort>();
                return new JsonResult(DataSourceLoader.Load(emptyRows, options));
            } 
            
        }
    }
}
@section Styles {
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/morrisjs/morris.css">
    <style>
        .tdnormall {
            padding-top: 0.1rem !important;
            padding-left: 0.75rem !important;
            padding-bottom: 0.1rem !important;
            padding-right: 0.75rem !important;
        }

        #chartxt {
            max-height: 255px !important;
        }
    </style>
}
<section class="content home" id="employee">
    @(Html.DevExtreme().LoadPanel()
        .ID("loadPanel")
        .ShadingColor("rgba(0,0,0,0.4)")
        .Position(p => p.Of("#employee"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(true)
        .Shading(true)
        .HideOnOutsideClick(false)
        .OnShown("loadPanel_shown")
    )

    <input type="hidden" style="display:none" id="txtmyear" value="@Model.InitialModel.CurrentUser.SelectedYear" />
    <input type="hidden" style="display:none" id="txtmcomp" value="@Model.InitialModel.CompID" />
    <input type="hidden" style="display:none" id="txtyearcount" value="@Model.InitialModel.YearCount" />
    <input type="hidden" style="display:none" id="txtcompcount" value="@Model.InitialModel.CompCount" />
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Bilanço</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Bilanço Konsolidasyon</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <div class="col-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                                        <div class="col-6" style="text-align:left">

                                            @(Html.DevExtreme().SelectBox().Visible(false)
                    .DataSource(Model.InitialModel.myearResult).ID("slctYear").OnInitialized("selectYear_Initialized")
                    .DisplayExpr("MText").OnSelectionChanged("selectYear_valueChanged")
                    .ValueExpr("MYear").Width(105)
                )
                                        </div>
                                        <div class="col-6" style="text-align:right">

                                            @(Html.DevExtreme().SelectBox().Visible(false)
                    .DataSource(Model.InitialModel.mreqListCompany).ID("slctCompany").OnSelectionChanged("selectCompany_valueChanged")
                    .DisplayExpr("CompanyName").OnInitialized("selectComp_Initialized")
                    .ValueExpr("ID")   .FieldTemplate(@<text>
                        <div class="custom-item">

                            @(Html.DevExtreme().TextBox()
                                .Value(new JS("typeof CompanyName !== 'undefined' && CompanyName"))
                                .ElementAttr("class", "productname")
                                .ReadOnly(true)
                            )
                        </div>
                    </text>).ItemTemplate(@<text>
                        <div class="custom-item">
                            <div class="product-name" style="text-align:right">[%- CompanyName %]</div>
                        </div>
                    </text>)
                )  @(Html.DevExtreme().TextBox()
                                .Value(Model.InitialModel.CompName)  .ReadOnly(true)
                            )

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="body">

                        <div class="row">

                            <div class="col-md-12 col-lg-1">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card">
                                        <div class="body l-blue overflowhidden" style="height: 100%;">
                                            <div class="row">

                                                <div class="card p-b-20">


                                                </div>
                                                <div class="card p-b-125">


                                                </div>

                                                <div class="card p-b-125">
                                                    <div class="body l-blue overflowhidden">

                                                    </div>

                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 col-lg-11">
                                <div class="row clearfix">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="card">
                                            <div class="body">
                                                <div class="row">

                                                    @(Html.DevExtreme().PivotGrid<DashBilancoViewMznShort>()
        .ID("pivotgrid")
        .AllowSortingBySummary(true)
        .AllowFiltering(true)
        .ShowBorders(true)
        .ShowColumnGrandTotals(false).AllowExpandAll(true)
        .ShowRowGrandTotals(false)
        .ShowRowTotals(false).Export(e => e.Enabled(true))
    .OnExporting("onExporting")
        .ShowColumnTotals(false).FieldChooser(fc => fc
        .AllowSearch(false)
        .ApplyChangesMode(ApplyChangesMode.Instantly)).FieldPanel(e=>e.ShowColumnFields(true).ShowDataFields(false).ShowFilterFields(false).ShowRowFields(false))

               .DataSource(d => d
            .Store(s => s.RemoteController().LoadUrl(Url.Page(null, "MarkupMarjin")).LoadParams(new {
                myear = new JS($"function() {{ var el = document.getElementById('txtmyear'); var raw = el && el.value ? String(el.value).trim() : ''; var n = parseInt(raw, 10); if (!isNaN(n) && n > 0) return n; return {Model.InitialModel.CurrentUser.SelectedYear}; }}"),
                compid = new JS($"function() {{ var el = document.getElementById('txtmcomp'); var raw = el && el.value ? String(el.value).trim() : ''; var n = parseInt(raw, 10); if (!isNaN(n) && n > 0) return n; return {Model.InitialModel.CompID}; }}")
            }))
            .Fields(fields => {
                fields.AddFor(m => m.GroupName)
               .Width(170)
               .Area(PivotGridArea.Row)
               ; fields.AddFor(m => m.CounterZone)
                   .Width(120)
                   .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.Value).Visible(false)
                   ;
                fields.AddFor(m => m.AccountMainDescription)
                    .Width(170)
                    .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.None).AllowFiltering(false)
                    ;

                fields.AddFor(m => m.Year).SortBy(PivotGridSortBy.Value).Area(PivotGridArea.Column).Expanded(true);
                fields.AddFor(m => m.AktarmaOnce)
.SummaryType(SummaryType.Sum).Caption("Arındırma Öncesi")
.DataType(PivotGridDataType.Number).Format(x => x.Precision(1)).Format(Format.FixedPoint)
.Area(PivotGridArea.Data);
                fields.AddFor(m => m.Diff)
     .SummaryType(SummaryType.Sum).Caption("Düzeltme")
     .DataType(PivotGridDataType.Number).Format(x => x.Precision(1)).Format(Format.FixedPoint)
     .Area(PivotGridArea.Data);

                fields.AddFor(m => m.AktarmaSonra)
                   .SummaryType(SummaryType.Sum).Caption("Arındırma sonrası")
                   .DataType(PivotGridDataType.Number).Format(x => x.Precision(1)).Format(Format.FixedPoint)
                   .Area(PivotGridArea.Data);





            })
        )
    )
                                                </div>


                                            </div>
                                        </div>


                                    </div>

                                </div>



                            </div>

                        </div>



                    </div>

                </div>

            </div>




        </div>





    </div>
</section>


@section Scripts{
    <script src="/js/a_poly.js"></script>
    <script src="/js/a_excel.js"></script>
    <script src="/js/a_filesave.js"></script>

    <script>
        function onExporting(e) {
            var workbook = new ExcelJS.Workbook();
            var worksheet = workbook.addWorksheet('konsolide bilanco');

            DevExpress.excelExporter.exportPivotGrid({
                component: e.component,
                worksheet: worksheet
            }).then(function () {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'konsolidebilanco.xlsx');
                });
            });
            e.cancel = true;
        }
    </script>

    <script>
        var konsolPageUrl = @Json.Serialize(Url.Page("/Admin/finance/mizan/konsol/dashbilancokon"));
        var tyear = $("#txtmyear").val();
        var mcompid = $("#txtmcomp").val();

        function getLoadPanelInstance() {
            return $("#loadPanel").dxLoadPanel("instance");
        }
        function hideLoadPanelSafe() {
            try {
                var el = $("#loadPanel");
                if (!el.length) return;
                var inst = el.dxLoadPanel("instance");
                if (inst) inst.hide();
            } catch (e) { /* widget henüz yok */ }
        }
        function loadPanel_shown(e) {
            setTimeout(function () {
                try { e.component.hide(); } catch (err) { }
            }, 7000);
        }
        var misready = "nok";
        var chkReadyState = setInterval(function () {
            if (document.readyState == "complete") {

                clearInterval(chkReadyState);

                misready = "ok";
            }
        }, 100);

        function getselectYearInstance() {
            return $("#slctYear").dxSelectBox("instance");
        }
        function getselectCompInstance() {
            return $("#slctCompany").dxSelectBox("instance");
        }
        function selectYear_Initialized() {
            getselectYearInstance().option("value", parseInt($("#txtmyear").val()));
            var chkco = parseInt($("#txtyearcount").val());

            if (chkco < 2) {
                getselectYearInstance().option("readOnly", true);
            }


        }

        function selectComp_Initialized() {

            var chkco = parseInt($("#txtcompcount").val());
            getselectCompInstance().option("value", parseInt($("#txtmcomp").val()));

            if (chkco < 2) {
                getselectCompInstance().option("readOnly", true);
            }
        }


        function selectYear_valueChanged(data) {
            var slctval = data.selectedItem.MYear;
            var turl = konsolPageUrl + "?handler=GraphYear&nyear=" + encodeURIComponent(slctval);

            if (misready == "ok" && tyear.toString() != slctval.toString()) {
                try { getLoadPanelInstance().show(); } catch (e) { }
                $.ajax({
                    type: "GET",
                    url: turl,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        location.reload();
                    },
                    error: function (xhr) {
                        alert(xhr.statusText || "İstek başarısız");
                    },
                    complete: function () {
                        hideLoadPanelSafe();
                    }
                });
            }

        }

        function selectCompany_valueChanged(data) {
            var slctval = data.selectedItem.ID;

            var turl = konsolPageUrl + "?handler=GraphComp&ncompid=" + encodeURIComponent(slctval);
            if (misready == "ok" && mcompid.toString() != slctval.toString()) {
                try { getLoadPanelInstance().show(); } catch (e) { }
                $.ajax({
                    type: "GET",
                    url: turl,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        location.reload();
                    },
                    error: function (xhr) {
                        alert(xhr.statusText || "İstek başarısız");
                    },
                    complete: function () {
                        hideLoadPanelSafe();
                    }
                });
            }


        }


        var dt1 = "105";
    </script>
} 