@page


@model IndexModel
@{
    ViewData["Title"] = "Giriş Ekranı";
    Layout = "~/Pages/Shared/_LayoutFinanceMzn.cshtml";
}
@using System.Threading
@using System.Text.Json
@using fincheckup.ApiClients.Models
@using fincheckup.ApiClients.Models.Requests.Finance.Mizan.DashLiquidity
@using fincheckup.ApiClients.Services.Finance
@using Microsoft.AspNetCore.Mvc
@functions {
    public class IndexModel(IFinanceMizanDashLiquidityClient apiClient) : PageModel
    {
        private readonly IFinanceMizanDashLiquidityClient _apiClient = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
        public MizanDashLiquidityRequestInitialModel InitialModel;

        public async Task OnGet()
        {
            try
            {
                var response = await _apiClient.GetAsync(new MizanDashLiquidityOnGetRequest(), CancellationToken.None);

                if (response.IsSuccess)
                {
                    InitialModel = response.Data.InitialModel;
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }


            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //
            //mreqListCompany = Companies.Getby_User(UserID);
            //CompID = mreqListCompany.Where(x => x.IsDefault == 1).FirstOrDefault().ID;
            //
            //CompName = mreqListCompany.Where(x => x.IsDefault == 1).FirstOrDefault().CompanyName;
            //HhvnUsers.SetYearMain(CompID, UserID);
            //CurrentUser = HhvnUsers.GetRow_User(UserID);
            //nRequestListChk = DashLikiditeMizan.Get_MAINRESULTMultiMain(CompID);
            //
            //
            //
            //
            //YearCount = TBLXml.GetYearByComapnyID(CompID);
            //CompCount = mreqListCompany.Count();
            //var chkkkt=   DashLikiditeMizan.Get_MainList(CompID);
            //if (chkkkt.Count<1)
            //{
            //    nRequestList = DashLikiditeViewMainMizan.getList(CurrentUser.SelectedYear, CompID);
            //}
            //else
            //{
            //    nRequestList = chkkkt;
            //}
            //
            //try
            //{
            //    if (nRequestListChk.Count>0)
            //    {
            //        var val5 = nRequestListChk.Where(x => x.TypeID == 333).FirstOrDefault().Amount;
            //        if (val5 == 0)
            //        {
            //            val5 = 1;
            //        }
            //        decimal chkt = Convert.ToDecimal(nRequestListChk.Where(x => (x.TypeID == 111)).FirstOrDefault().Amount - //nRequestListChk.Where(x => (x.TypeID == 15)).FirstOrDefault().Amount);
            //        NetIsletmeT = chkt / Convert.ToDecimal(val5);
            //        if (NetIsletmeT < 0)
            //        {
            //            NetIsletmeT = NetIsletmeT * -1;
            //        }
            //
            //        NetIsletme = NetIsletmeT.ToString("F", new CultureInfo("en-US", false));
            //    }
            //
            //
            //}
            //catch (Exception)
            //{
            //
            //    NetIsletme = (0).ToString("F", new CultureInfo("en-US", false));
            //}
            //
            ////DashLikiditeViewMain.getLikiditeORANT(CurrentUser.SelectedYear, CompID);
            //
            ////    NakitOran = DashGelirTablosuViewMain.getDonemKarZarar(CurrentUser.SelectedYear, CompID);
            //nRequestChart = DashLikiditeMizan.Get_LikiditeORANT( CompID) ;
            ////nRequestListViewChart = DashWCapitalShortViewList.getListDashWChart(wwn);
        }

        public JsonResult OnGetSalerMain(DataSourceLoadOptions options, string dt1)
        {

            //dt1 = "105";
            //var winModelTlist = Data.Get_AllbyCsvID(dt1);
            //return new JsonResult(DataSourceLoader.Load(winModelTlist, options));
            return new JsonResult("Entegrasyon eksik finance/mizan/DashLiquidity OnGetSalerMain");

        }
        public async Task<IActionResult> OnGetMarkupMarjin(DataSourceLoadOptions options, long compid)
        {
            try
            {
                await OnGet();

                var response = await _apiClient.GetMarkupMarjinAsync(new MizanDashLiquidityOnGetMarkupMarjinQuery()
                {
                    Request = new MizanDashLiquidityOnGetMarkupMarjinRequest()
                    {
                        options = options,
                        compid = compid
                    },
                    InitialModel = InitialModel
                }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    InitialModel = response.Data.InitialModel;
                    if (response.Data.Response is JsonElement loadMarkupMarjin)
                    {
                        // Newtonsoft.Json JsonResult ile JsonElement'i {"ValueKind":...} yapar; DevExtreme ham LoadResult JSON bekler.
                        return Content(loadMarkupMarjin.GetRawText(), "application/json");
                    }
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/mizan/DashLiquidity OnGetMarkupMarjin");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }

            //nRequestList = DashLikiditeMizan.Get_MAINRESULTMultiMain(compid);
            //return new JsonResult(DataSourceLoader.Load(nRequestList, options));
        }
        public async Task<JsonResult> OnGetPrio(DataSourceLoadOptions options)
        {

            await OnGet();

            //return new JsonResult(DataSourceLoader.Load(ShedulerCL.PriorityResources, options));
            return new JsonResult("Entegrasyon eksik finance/mizan/DashLiquidity OnGetPrio");
        }
        public async Task<JsonResult> OnGetGraphYear(int nyear)
        {
            
            await OnGet();
            
            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //HhvnUsers.SetYear(nyear, UserID);
            //return new JsonResult("ok");
            return new JsonResult("Entegrasyon eksik finance/mizan/DashLiquidity OnGetGraphYear");
        }
        public async Task<JsonResult> OnGetGraphComp(int ncompid)
        {
            await OnGet();

            //if (ncompid < 1)
            //{
            //    return new JsonResult("nok");
            //
            //}
            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //if (!HhvnUsers.CheckUser(ncompid, UserID))
            //{
            //    return new JsonResult("ok");
            //}
            //
            //UserCompany.Update_UserDefault(UserID, ncompid);
            //
            //return new JsonResult("ok");
            return new JsonResult("Entegrasyon eksik finance/mizan/DashLiquidity OnGetGraphComp");
        }
    }
}
@section Styles {
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/morrisjs/morris.css">
    <style>
        .tdnormall {
            padding-top: 0.1rem !important;
            padding-left: 0.75rem !important;
            padding-bottom: 0.1rem !important;
            padding-right: 0.75rem !important;
        }

        #chartxt {
            max-height: 255px !important;
        }
    </style>
}
<section class="content home" id="employee">
    @(Html.DevExtreme().LoadPanel()
        .ID("loadPanel")
        .ShadingColor("rgba(0,0,0,0.4)")
        .Position(p => p.Of("#employee"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(true)
        .Shading(true)
        .HideOnOutsideClick(false)
        .OnShown("loadPanel_shown")
    )

    <input type="hidden" style="display:none" id="txtmyear" value="@Model.InitialModel.CurrentUser.SelectedYear" />
    <input type="hidden" style="display:none" id="txtmcomp" value="@Model.InitialModel.CompID" />
    <input type="hidden" style="display:none" id="txtyearcount" value="@Model.InitialModel.YearCount" />
    <input type="hidden" style="display:none" id="txtcompcount" value="@Model.InitialModel.CompCount" />
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Likidite Riski</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Likidite Riski</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <div class="col-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                                        <div class="col-6" style="text-align:left">

                                      
                                        </div>
                                        <div class="col-6" style="text-align:right">

                          
                                            @(Html.DevExtreme().TextBox()
                                                .Value(Model.InitialModel.CompName).ReadOnly(true)
                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row clearfix">

        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="body">

                    <div class="row">

                        <div class="col-md-12 col-lg-3">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="body l-blue overflowhidden" style="height: 100%;">

                                        <div class="row" style="min-height:755px !important">
                                            <div class="card p-b-5">
                                                <div class="body l-blue overflowhidden">
                                                    <p class="m-b-0 font-23">Likidite Oranı (%)</p>
                                                    <p class="m-b-0"><small>Yüzdesel Ortalama</small> </p>
                                                        <h3 class="m-t-0 m-b-0">% @Model.InitialModel.NetIsletme</h3>

                                                </div>

                                            </div>
                                            <div class="card p-b-20 m-t-10" style="margin-top:-175px">


                                            </div>
                                            <div class="card p-b-20">



                                            </div>




                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 col-lg-9">
                            <div class="row clearfix">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card">
                                        <div class="body">
                                            <div class="row">

                                                @(Html.DevExtreme().PivotGrid<DashBilancoViewMizan>()
                                                    .ID("pivotgrid")
                                                    .AllowSortingBySummary(true)
                                                    .AllowFiltering(true)
                                                    .ShowBorders(true)
                                                    .ShowColumnGrandTotals(false).AllowExpandAll(true)
                                                    .ShowRowGrandTotals(false)
                                                    .ShowRowTotals(false).Export(e => e.Enabled(true))
                                                    .OnExporting("onExporting")
                                                    .ShowColumnTotals(false).FieldChooser(fc => fc
                                                        .AllowSearch(false)
                                                        .ApplyChangesMode(ApplyChangesMode.Instantly)).FieldPanel(e=>e.ShowColumnFields(true).ShowDataFields(false).ShowFilterFields(false).ShowRowFields(false))

                                                    .DataSource(d => d
                                                        .Store(s => s.RemoteController().LoadUrl(Url.Page(null, "MarkupMarjin")).LoadParams(new {  compid = new JS("function() {return mcompid; }") }))
                                                        .Fields(fields => {
                                                            fields.AddFor(m => m.GroupName)
                                                                .Width(170)
                                                                .Area(PivotGridArea.Row)
                                                                ; fields.AddFor(m => m.CounterZone)
                                                                .Width(120)
                                                                .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.Value).Visible(false)
                                                                ;
                                                            fields.AddFor(m => m.AccountMainDescription)
                                                                .Width(170)
                                                                .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.None).AllowFiltering(false)
                                                                ;

                                                            fields.AddFor(m => m.Year).SortBy(PivotGridSortBy.Value).Area(PivotGridArea.Column).Expanded(true);

                                                            fields.AddFor(m => m.Amount)
                                                                .SummaryType(SummaryType.Sum)
                                                                .DataType(PivotGridDataType.Number).Format(x => x.Precision(1)).Format(Format.FixedPoint)
                                                                .Area(PivotGridArea.Data);
                                                        })
                                                    )
                                                )
                                              


                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="body">

                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12">

                                                        @(Html.DevExtreme().Chart()
                                                            .ID("chart")
                                                            .CommonSeriesSettings(s => s
                                                                .ArgumentField("Yeartx")
                                                                .Type(SeriesType.Spline)
                                                                .Point(p => p.HoverMode(ChartPointInteractionMode.AllArgumentPoints))
                                                            )
                                                            .ArgumentAxis(a => a
                                                                .ValueMarginsEnabled(false)
                                                                .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.BetweenLabels)
                                                                .Grid(g => g.Visible(true))
                                                            )
                                                            .Crosshair(c => c
                                                                .Enabled(true)
                                                                .Color("#949494")
                                                                .Width(3)
                                                                .DashStyle(DashStyle.Dot)
                                                                .Label(l => l
                                                                    .Visible(true)
                                                                    .BackgroundColor("#949494")
                                                                    .Font(f => f.Color("#fff").Size(12))
                                                                )
                                                            )
                                                            .Series(s => {
                                                                s.Add().ValueField("Amount").Name("Hydro-electric").ShowInLegend(false);
                                                            })
                                                            .Legend(l => l
                                                                .VerticalAlignment(VerticalEdge.Bottom)
                                                                .HorizontalAlignment(HorizontalAlignment.Center)
                                                                .ItemTextPosition(Position.Bottom)
                                                            ).Size(s => s.Height(335))
                                                            .Title(t => t
                                                                .Text("Likidite Riski")
                                                                .Subtitle(s => s.Text("(Aylık Plan)"))
                                                            )
                                                            .Export(e => e.Enabled(true))
                                                            .Tooltip(t => t.Enabled(true))
                                                                .DataSource(Model.InitialModel.nRequestChart)
                                                        )

                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>



                            </div>

                        </div>



                    </div>

                </div>

            </div>




        </div>





    </div>
    </div>
</section>


@section Scripts{

    <script src="/js/a_poly.js"></script>
    <script src="/js/a_excel.js"></script>
    <script src="/js/a_filesave.js"></script>

    <script>
        function onExporting(e) {
            var workbook = new ExcelJS.Workbook();
            var worksheet = workbook.addWorksheet('liquidity');

            DevExpress.excelExporter.exportPivotGrid({
                component: e.component,
                worksheet: worksheet
            }).then(function () {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'liquidity.xlsx');
                });
            });
            e.cancel = true;
        }
    </script>


    <script>
        var tyear = $("#txtmyear").val();
        var mcompid = $("#txtmcomp").val();
    </script>
    <script>
        function getLoadPanelInstance() {
            return $("#loadPanel").dxLoadPanel("instance");
        }
        function loadPanel_shown(e) {
            setTimeout(function () {
                e.component.hide();
            }, 7000);
        }
        var misready = "nok";
        var chkReadyState = setInterval(function () {
            if (document.readyState == "complete") {

                clearInterval(chkReadyState);

                misready = "ok";
            }
        }, 100);

        function getselectYearInstance() {
            return $("#slctYear").dxSelectBox("instance");
        }
        function getselectCompInstance() {
            return $("#slctCompany").dxSelectBox("instance");
        }
        function selectYear_Initialized() {
            getselectYearInstance().option("value", parseInt($("#txtmyear").val()));
            var chkco = parseInt($("#txtyearcount").val());

            if (chkco < 2) {
                getselectYearInstance().option("readOnly", true);
            }


        }

        function selectComp_Initialized() {

            var chkco = parseInt($("#txtcompcount").val());
            getselectCompInstance().option("value", parseInt($("#txtmcomp").val()));

            if (chkco < 2) {
                getselectCompInstance().option("readOnly", true);
            }
        }


    

 

        var dt1 = "105";
    </script>
} 