@page

@model IndexModel
@{
    ViewData["Title"] = "Giriş Ekranı";
    Layout = "~/Pages/Shared/_LayoutFinanceMzn.cshtml";
}
@using System.Threading
@using fincheckup.ApiClients.Entities
@using fincheckup.ApiClients.Models
@using fincheckup.ApiClients.Models.Requests.Finance.Mizan.DashRevenue
@using fincheckup.ApiClients.Services.Finance

@functions {
    public class IndexModel(IFinanceMizanDashRevenueClient apiClient) : PageModel
    {
        private readonly IFinanceMizanDashRevenueClient _apiClient = apiClient ?? throw new ArgumentNullException(nameof(apiClient));

        //public IEnumerable<YearResult> myearResult;
        //public long UserID;
        //public long CompID;
        //public int CompCount;
        //public int YearCount;
        //public HhvnUsers CurrentUser;
        //public DashYearlyBilancoChart ncart;
        //public string CompNameNorm { get; set; }
        //public List<DashBilancoViewMulti> nRequestList;        
        //public List<DashBilancoViewMulti> nRequestListChk;
        //public IEnumerable<Entities.Company> mreqListCompany;
        //public string NetIsletme { get; set; }
        //public string CompName { get; set; }
        //public string CariOran { get; set; }
        //public decimal CariOranT { get; set; }
        //public string NakitOran { get; set; }
        //public double val1 { get; set; }
        //public double val3 { get; set; }

        public MizanDashRevenueRequestInitialMopdel InitialModel;

        public async Task OnGet()
        {
            try
            {
                var response = await _apiClient.GetAsync(new MizanDashRevenueOnGetRequest(), CancellationToken.None);

                if (response.IsSuccess && response.Data?.InitialModel != null)
                {
                    InitialModel = response.Data.InitialModel;
                }
                else
                {
                    if (!response.IsSuccess)
                        Console.WriteLine(response.ProblemDetails?.Detail);
                    InitialModel = new MizanDashRevenueRequestInitialMopdel
                    {
                        CurrentUser = new HhvnUsers(),
                        CompName = string.Empty,
                        CompNameNorm = string.Empty
                    };
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }


            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //
            //mreqListCompany = Companies.Getby_User(UserID);
            //
            //CompID = mreqListCompany.Where(x => x.IsDefault == 1).FirstOrDefault().ID;
            //CompName = mreqListCompany.Where(x => x.IsDefault == 1).FirstOrDefault().CompanyName;
            //HhvnUsers.SetYearMain(CompID, UserID);
            //CurrentUser = HhvnUsers.GetRow_User(UserID);
            //YearCount = TBLXml.GetYearByComapnyID(CompID);
            //CompCount = mreqListCompany.Count();
            //
            //myearResult = YearResult.getValue();
            //
            //nRequestList = DashGelirTablosu.Get_MAINRESULTMultiMain( CompID);
            ////nRequestListTx = DashBilancoViewTx.setDashBilanco(nRequestList);
            //
            ////ncart = new DashYearlyBilancoChart();
            ////ncart.SetResult(nRequestList, CurrentUser.SelectedYear);
            //
            //CompNameNorm = PageHelper.ClearTurkishCharacter(CompName);
            //
            //nRequestListChk = nRequestList;
            ////DashGelirTablosuViewMain.getList(CurrentUser.SelectedYear, CompID);
            //
            ////val1 = nRequestListChk.Where(x => x.TypeID == 111).Sum(x => x.Amount);
            ////val3 = nRequestListChk.Where(x => x.TypeID == 2222).Sum(x => x.Amount);
            ////if (val3 < 0) { val3 = val3 * -1; }
            ////NetIsletme = (val1 - val3).ToString("0,0.00", new CultureInfo("en-US", false));
            //
            ////// DashBilancoViewMain.getNetIsletme(CurrentUser.SelectedYear, CompID);
            ////var val5 = nRequestListChk.Where(x => x.TypeID == 333).Sum(x => x.Amount);
            ////if (val5 == 0)
            ////{
            ////    val5 = 1;
            ////}
            ////CariOranT = (Convert.ToDecimal(nRequestListChk.Where(x => x.TypeID == 111).Sum(x => x.Amount)) / Convert.ToDecimal(val5));
            ////if (CariOranT < 0)
            ////{
            ////    CariOranT = CariOranT * -1;
            ////}
            ////CariOran = CariOranT.ToString("0,0.00", new CultureInfo("en-US", false));
            //////DashBilancoViewMain.getCariOran(CurrentUser.SelectedYear, CompID).ToString("F");
            ////NakitOran = (Convert.ToDecimal(nRequestListChk.Where(x => (x.TypeID == 10 || x.TypeID == 11)).Sum(x => x.Amount)) / //Convert.ToDecimal(val5)).ToString("N2");
            ////DashBilancoViewMain.getNakitOran(CurrentUser.SelectedYear, CompID).ToString("F");
        }

        public JsonResult OnGetSalerMain(DataSourceLoadOptions options, string dt1)
        {

            //dt1 = "105";
            //var winModelTlist = Data.Get_AllbyCsvID(dt1);
            //return new JsonResult(DataSourceLoader.Load(winModelTlist, options));
            return new JsonResult("Entegrasyon eksik finance/mizan/DashRevenue OnGetSalerMain");

        }

        public JsonResult OnGetPrio(DataSourceLoadOptions options)
        {

            //return new JsonResult(DataSourceLoader.Load(ShedulerCL.PriorityResources, options));
            return new JsonResult("Entegrasyon eksik finance/mizan/DashRevenue OnGetPrio");
        }
        public JsonResult OnGetGraphYear(int nyear)
        {
            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //HhvnUsers.SetYear(nyear, UserID);
            //return new JsonResult("ok");
            return new JsonResult("Entegrasyon eksik finance/mizan/DashRevenue OnGetGraphYear");
        }
        public async Task<JsonResult> OnGetChartRasyo(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetChartRasyoAsync(new MizanDashRevenueOnGetChartRasyoRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/mizan/DashRevenue OnGetChartRasyo");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }

            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //CurrentUser = HhvnUsers.GetRow_User(UserID);
            //
            //CompID = Companies.Getby_User(UserID).Where(x => x.IsDefault == 1).FirstOrDefault().ID;
            //nRequestList = DashGelirTablosu.Get_MAINRESULTMultiMain(CompID).Where(x => x.IsHidden == 0).ToList();
            ////nRequestListTx = DashBilancoViewTx.setDashBilanco(nRequestList);
            //
            //ncart = new DashYearlyBilancoChart();
            ////ncart.SetResult(nRequestList, CurrentUser.SelectedYear);
            //
            //return new JsonResult(DataSourceLoader.Load(nRequestList, options));
        }
        public async Task<JsonResult> OnGetMarkupMarjin(DataSourceLoadOptions options, long compid)
        {
            try
            {
                var response = await _apiClient.GetMarkupMarjinAsync(new MizanDashRevenueOnGetMarkupMarjinRequest
                    {
                        options = options,
                        compid = compid
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/mizan/DashRevenue OnGetMarkupMarjin");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }

            //List<DashBilancoViewMulti> chklist = new List<DashBilancoViewMulti>();
            ////if (string.IsNullOrEmpty(myear))
            ////{
            ////    return new JsonResult(DataSourceLoader.Load(chklist, options));
            ////}
            //
            //
            ////string[] llist = myear.Split(',');
            ////if (llist.Length < 0)
            ////{
            ////    return new JsonResult(DataSourceLoader.Load(chklist, options));
            ////}
            ////var tt = llist.Select(int.Parse).ToList();
            //
            //var chk = DashGelirTablosu.Get_MAINRESULTMultiRVNMain( compid).Where(x=>x.IsHidden==0);
            //return new JsonResult(DataSourceLoader.Load(chk, options));
        }
        public JsonResult OnGetGraphComp(int ncompid)
        {
            //if (ncompid < 1)
            //{
            //    return new JsonResult("nok");
            //
            //}
            //
            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //if (!HhvnUsers.CheckUser(ncompid, UserID))
            //{
            //    return new JsonResult("ok");
            //}
            //
            //
            //UserCompany.Update_UserDefault(UserID, ncompid);
            //
            //return new JsonResult("ok");
            return new JsonResult("Entegrasyon eksik finance/mizan/DashRevenue OnGetGraphComp");
        }
    }
}
@section Styles {
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/morrisjs/morris.css">
    <style>
        .tdnormall {
            padding-top: 0.1rem !important;
            padding-left: 0.75rem !important;
            padding-bottom: 0.1rem !important;
            padding-right: 0.75rem !important;
        }

        #chartxt {
            max-height: 255px !important;
        }
    </style>
}
<section class="content home" id="employee">
    @(Html.DevExtreme().LoadPanel()
        .ID("loadPanel")
        .ShadingColor("rgba(0,0,0,0.4)")
        .Position(p => p.Of("#employee"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(true)
        .Shading(true)
        .HideOnOutsideClick(false)
        .OnShown("loadPanel_shown")
    )

    <input type="hidden" style="display:none" id="txtmyear" value="@(Model.InitialModel?.CurrentUser?.SelectedYear ?? DateTime.Now.Year)" />
    <input type="hidden" style="display:none" id="txtmcomp" value="@(Model.InitialModel?.CompID ?? 0)" />
    <input type="hidden" style="display:none" id="txtyearcount" value="@(Model.InitialModel?.YearCount ?? 0)" />
    <input type="hidden" style="display:none" id="txtcompcount" value="@(Model.InitialModel?.CompCount ?? 0)" />
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Bilanço</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i></a>Gelir Tablosu</li>
                        <li class="breadcrumb-item active">Revenue</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <div class="col-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                                        <div class="col-6" style="text-align:left;visibility:hidden">

                                    
                                        </div>
                                        <div class="col-6" style="text-align: right  ">

               
                                            @(Html.DevExtreme().TextBox()
                                                .Value(Model.InitialModel?.CompName ?? string.Empty).ReadOnly(true)
                            )

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="body">

                        <div class="row">

                            <div class="col-md-12 col-lg-1">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card">
                                        <div class="body l-blue overflowhidden" style="height: 100%;">
                                            <div class="row">

                                                <div class="card p-b-20">

                                                    <div class="body l-blue overflowhidden">
                                                       

                                                    </div>
                                                </div>
                                                <div class="card p-b-125">
                                                    <div class="body l-blue overflowhidden">
                                                
                                                    </div>

                                                </div>

                                                <div class="card p-b-125">
                                                    <div class="body l-blue overflowhidden">

                                                    </div>

                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 col-lg-11">
                                <div class="row clearfix">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="card">
                                            <div class="body">
                                                <div class="row">

                                                    @(Html.DevExtreme().PivotGrid<DashBilancoViewMulti>()
        .ID("pivotgrid")
        .AllowSortingBySummary(true)
        .AllowFiltering(true)
        .ShowBorders(true)
        .ShowColumnGrandTotals(false).AllowExpandAll(true)
        .ShowRowGrandTotals(false)
        .ShowRowTotals(false).Export(e => e.Enabled(true))
    .OnExporting("onExporting")
        .ShowColumnTotals(false).FieldChooser(fc => fc
        .AllowSearch(false)
        .ApplyChangesMode(ApplyChangesMode.Instantly)).FieldPanel(e=>e.ShowColumnFields(true).ShowDataFields(false).ShowFilterFields(false).ShowRowFields(false))

               .DataSource(d => d
            .Store(s => s.RemoteController().LoadUrl(Url.Page(null, "MarkupMarjin")).LoadParams(new {   compid = new JS("function() {return mcompid; }") }))
            .Fields(fields => {
                fields.AddFor(m => m.GroupName)
               .Width(170)
               .Area(PivotGridArea.Row)
               ; fields.AddFor(m => m.CounterZone)
                   .Width(120)
                   .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.Value).Visible(false)
                   ;
                fields.AddFor(m => m.AccountMainDescription)
                    .Width(170)
                    .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.None).AllowFiltering(false)
                    ;

                fields.AddFor(m => m.Year).SortBy(PivotGridSortBy.Value).Area(PivotGridArea.Column).Expanded(true);

                fields.AddFor(m => m.Amount)
                    .SummaryType(SummaryType.Sum)
                    .DataType(PivotGridDataType.Number).Format(x => x.Precision(1)).Format(Format.FixedPoint)
                    .Area(PivotGridArea.Data);
            })
        )
    )



                                                </div>


                                            </div>
                                        </div>


                                    </div>

                                </div>



                            </div>

                        </div>



                    </div>

                </div>

            </div>




        </div>





    </div>
</section>


@section Scripts{
    <script src="/js/a_poly.js"></script>
    <script src="/js/a_excel.js"></script>
    <script src="/js/a_filesave.js"></script>

    <script>
        function getfdate() {
            //
            var usrdate = sessionStorage.getItem("fnckpyear");
            if (usrdate == null || usrdate == undefined || usrdate == "null") {


                usrdate = "";
            }
            else {
                return usrdate;
            }

        };
        var tchek = getfdate();
        function onExporting(e) {
            var workbook = new ExcelJS.Workbook();
            var worksheet = workbook.addWorksheet('@(Model.InitialModel?.CompNameNorm ?? string.Empty)');


            DevExpress.excelExporter.exportPivotGrid({
                workbook, worksheet, component: e.component, topLeftCell: { row: 5, column: 1 },
                saveEnabled: false
            }).then(function (pivotGridRange) {
                Object.assign(
                    worksheet.getRow(2).getCell(2),
                    { value: "@(Model.InitialModel?.CompNameNorm ?? string.Empty) Gelir Tablosu", font: { bold: true, size: 16, underline: 'double' } }
                );


                return Promise.resolve();
            }).then(function () {
                return workbook.xlsx.writeBuffer();
            }).then(function (buffer) {
                saveAs(new Blob([buffer], { type: "application/octet-stream" }), "@(Model.InitialModel?.CompNameNorm ?? string.Empty)-Revenue.xlsx");
            });
            e.cancel = true;
            // DevExpress.excelExporter.exportPivotGrid({
            //     component: e.component,
            //     worksheet: worksheet
            // }).then(function () {
            //     workbook.xlsx.writeBuffer().then(function (buffer) {
            //         saveAs(new Blob([buffer], { type: 'application/octet-stream' }), '@Model.InitialModel.CompNameNorm-Revenue.xlsx');
            //     });
            // });
            // e.cancel = true;
        }
    </script>

    <script>
        var tyear = $("#txtmyear").val();
        var mcompid = $("#txtmcomp").val();

        function getLoadPanelInstance() {
            return $("#loadPanel").dxLoadPanel("instance");
        }
        function loadPanel_shown(e) {
            setTimeout(function () {
                e.component.hide();
            }, 7000);
        }
        var misready = "nok";
        var chkReadyState = setInterval(function () {
            if (document.readyState == "complete") {

                clearInterval(chkReadyState);

                misready = "ok";
            }
        }, 100);

        function getselectYearInstance() {
            return $("#slctYear").dxSelectBox("instance");
        }
        function getselectCompInstance() {
            return $("#slctCompany").dxSelectBox("instance");
        }
        function selectYear_Initialized() {
            getselectYearInstance().option("value", parseInt($("#txtmyear").val()));
            var chkco = parseInt($("#txtyearcount").val());

            if (chkco < 2) {
                getselectYearInstance().option("readOnly", true);
            }


        }

        function selectComp_Initialized() {

            var chkco = parseInt($("#txtcompcount").val());
            getselectCompInstance().option("value", parseInt($("#txtmcomp").val()));

            if (chkco < 2) {
                getselectCompInstance().option("readOnly", true);
            }
        }


 
 

        var dt1 = "105";
    </script>
} 