@page
@using System.Threading
@using fincheckup.ApiClients.Entities
@using fincheckup.ApiClients.Models
@using fincheckup.ApiClients.Models.Requests.Finance.Mizan.ReportMainTestMizan
@using fincheckup.ApiClients.Models.Responses.Finance.Mizan.ReportMainTestMizan
@using fincheckup.ApiClients.Services.Finance
@using fincheckup.ApiClients.Services.Finance.Reports
@model IndexModel
@{
    ViewData["Title"] = "Giriş Ekranı";
    Layout = "~/Pages/Shared/_LayoutFinanceMzn.cshtml";
}



@functions {
    public class IndexModel(IFinanceMizanReportMainTestMizanClient apiClient) : PageModel
    {
        private readonly IFinanceMizanReportMainTestMizanClient _apiClient = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
        public MizanReportMainTestMizanRequestInitialModel InitialModel { get; set; } = new();

        public async Task OnGet()
        {
            try
            {
                var response = await _apiClient.GetAsync(new MizanReportMainTestMizanOnGetRequest(), CancellationToken.None);

                if (response.IsSuccess && response.Data?.InitialModel != null)
                {
                    InitialModel = response.Data.InitialModel;
                    InitialModel.CurrentUser ??= new HhvnUsers { SelectedYear = DateTime.Now.Year };
                    InitialModel.reportList ??= new List<CompanyReport>();
                    InitialModel.mreqListCompany ??= Array.Empty<Company>();
                    InitialModel.curCompany ??= new Company { NaceId = 0 };
                    InitialModel.CompName ??= string.Empty;
                    InitialModel.currentcompname ??= string.Empty;
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails?.Detail ?? "ReportMainTestMizan OnGet: API başarısız.");
                    ApplyFallbackInitialModel();
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                ApplyFallbackInitialModel();
            }
        }

        private void ApplyFallbackInitialModel()
        {
            InitialModel ??= new MizanReportMainTestMizanRequestInitialModel();
            InitialModel.CurrentUser = new HhvnUsers { SelectedYear = DateTime.Now.Year };
            InitialModel.reportList = new List<CompanyReport>();
            InitialModel.mreqListCompany = Array.Empty<Company>();
            InitialModel.curCompany = new Company { NaceId = 0 };
            InitialModel.CompName = string.Empty;
            InitialModel.currentcompname = string.Empty;
            InitialModel.curcomID = 0;
            InitialModel.curcomCount = 0;
            InitialModel.CompID = 0;
            InitialModel.CompCount = 0;
            InitialModel.YearCount = 0;
            InitialModel.YearCurrent = DateTime.Now.Year;
        }




        public async Task<JsonResult> OnGetSalerDate(DataSourceLoadOptions options)
        {
            try
            {
                await OnGet();
                
                var response = await _apiClient.GetSalerDateAsync(new MizanReportMainTestMizanOnGetSalerDateRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/mizan/ReportMainTestMizan OnGetSalerDate");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public async Task<JsonResult> OnGetSalerYear(DataSourceLoadOptions options)
        {
            try
            {
                await OnGet();

                var response = await _apiClient.GetSalerYearAsync(new MizanReportMainTestMizanOnGetSalerYearRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/mizan/ReportMainTestMizan OnGetSalerYear");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }

        }
        public async Task<JsonResult> OnGetSalerComp(DataSourceLoadOptions options)
        {
            try
            {
                await OnGet();

                var response = await _apiClient.GetSalerCompAsync(new MizanReportMainTestMizanOnGetSalerCompRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/mizan/ReportMainTestMizan OnGetSalerComp");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }

        }

        public JsonResult OnGetGraphComp(int ncompid)
        {
            //if (ncompid < 1)
            //{
            //    return new JsonResult("nok");
            //
            //}
            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //if (HhvnUsers.CheckUser(ncompid, UserID))
            //{
            //    UserCompany.Update_UserDefault(UserID, ncompid);
            //}
            //
            //
            //
            //return new JsonResult("ok");
            return new JsonResult("Entegrasyon eksik finance/mizan/ReportMainTestMizan OnGetGraphComp");
        }
        public JsonResult OnGetGraphYear(int nyear)
        {
            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //HhvnUsers.SetYear(nyear, UserID);
            //return new JsonResult("ok");
            return new JsonResult("Entegrasyon eksik finance/mizan/ReportMainTestMizan OnGetGraphYear");
        }
        public async Task<JsonResult> OnGetCheckRepPdf(long companyID, string nacceco)
        {
            try
            {
                await OnGet();

                var response = await _apiClient.GetCheckRepPdfAsync(new MizanReportMainTestMizanOnGetCheckRepPdfQuery()
                    { InitialModel = InitialModel, Request = new MizanReportMainTestMizanOnGetCheckRepPdfRequest()
                        {
                        companyID = companyID,
                        nacceco = nacceco
                        }
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    
                    return new JsonResult(response.Data.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/mizan/ReportMainTestMizan OnGetCheckRepPdf");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
      
        public async Task<JsonResult> OnGetCheckUrl(long fileID)
        {
            try
            {
                await OnGet();

                var response = await _apiClient.GetCheckUrlAsync(new MizanReportMainTestMizanOnGetCheckUrlRequest
                    {
                        fileID = fileID
                    }, CancellationToken.None);

                MizanReportMainTestMizanOnGetCheckUrlResponse? checkUrlPayload = response.Data;
                var fileUrl = checkUrlPayload?.FileUrl;
                if (response.IsSuccess && !string.IsNullOrEmpty(fileUrl))
                {
                    return new JsonResult(fileUrl);
                }

                Console.WriteLine(response.ProblemDetails?.Detail);
                return new JsonResult("Burada hata var finance/mizan/ReportMainTestMizan OnGetCheckUrl");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
    }
}
@section Styles {
    <script src="~/assets/progress.js"></script>

    <style>
 
        :root {
            --alabaster: #f9fafb;
            --black: #000000;
            --blueberry: #3585f80d;
            --cardinal-pink: #870052;
            --ebony-clay: #222943;
            --mystic: #dee3ed;
            --storm-gray: #666f85;
            --text: #ffffff;
            --font-size-l: 14px;
            --font-size-m: 12px;
            --font-size-xl: 16px;
            --font-family-cordale-bold: "Cordale-Bold", Helvetica;
            --font-family-mulish: "Mulish", Helvetica;
        }

        @@import url("https://fonts.googleapis.com/css?family=Mulish:400,700,600,800");


        @@font-face {
            font-family: "Mulish";
            font-style: normal;
            font-weight: 700;
            src: url("/fonts/Cordale_Bd.ttf") format("truetype");
        }

        .setRowHeight {
            height: 55px !important;
            min-height: 55px !important;
        }

        .dx-datagrid .dx-row-alt {
            background-color: #DEE3ED;
        }

            .dx-datagrid .dx-row-alt > td, .dx-datagrid .dx-row-alt > tr > td {
                background-color: #DEE3ED;
            }

        .dx-datagrid {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */
            /* Mass/LightMode/TextColors/T1000 */
            border: 1px solid #ddd;
        }

        .dx-row .dx-column-lines .dx-header-row {
            background-color: #556589;
        }

        .dx-datagrid-headers {
            background-color: #dee3ed !important;
        }

        .custom[role="columnheader"] {
            margin-top: 25%;
            background: gray;
            background-color: gray;
            border-color: var(--mystic);
            font-family: var(--font-family-mulish);
            font-size: var(--font-size-l);
            font-weight: 800;
            line-height: 18px;
            letter-spacing: 0;
            line-height: normal;
            min-height: 45px;
            height: 45px;
            min-width: 19px;
        }

        .dx-dropdowneditor.dx-dropdowneditor-field-clickable, .dx-dropdowneditor.dx-dropdowneditor-field-clickable .dx-texteditor-input {
            cursor: pointer;
            height: 35px;
        }

        .dx-widget, .dx-widget *, .dx-widget ::after, .dx-widget ::before, .dx-widget::after, .dx-widget::before {
        }

        .custom {
            color: var(--ebony-clay);
            font-family: var(--font-family-mulish);
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            border: 1px solid;
            min-height: 49px;
            height: 49px;
            border-color: var(--mystic);
            background-color: #3585f80d;
        }

        .dx-datagrid .dx-column-lines > td {
            border-left: 0px solid #ddd;
            border-right: 0px solid #ddd;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }


        .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
            vertical-align: central !important;
            background-color: #3585f80d;
        }

        .dx-datagrid .dx-row > td {
            padding: 3px;
        }

        .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
            vertical-align: middle;
            max-height: 55px;
        }

        .dx-loadindicator {
            width: 151px;
            height: 151px;
            display: inline-block;
            overflow: hidden;
            border: none;
            background-color: transparent;
        }

        .container .yeniliki-ve-kolay-3 {
            font-size: var(--font-size-xl);
            font-weight: 400;
            letter-spacing: 0;
            line-height: 23px;
            white-space: nowrap;
            color: #7b7e89;
            font-family: var(--font-family-cordale-bold);
            margin-top: 24px;
        }

        .talimat-arama-1 {
            letter-spacing: 0;
            line-height: normal;
            min-height: 18px;
            min-width: 16px;
        }

        .container .mulish-bold-ebony-clay-14px {
            letter-spacing: 0;
            line-height: normal;
            margin-top: 13px;
            min-height: 18px;
            color: #7b7e89;
            font-family: var(--font-family-mulish);
            font-size: var(--font-size-l);
            font-style: normal;
            font-weight: 610;
        }
        /*   .dx-scrollview-content {
                            position: absolute;
                        }*/

        #grdContYearDefter .centerdiv {
            vertical-align: middle !important;
            font-weight: bold;
            font-size: 13px;
            color: black;
        }

        #grdContYearDefter .dx-header-row .centerdiv {
            vertical-align: middle !important;
            font-weight: bold;
            font-size: 13px;
            color: black;
        }

        #grdContYearDefter .centerdiv {
            vertical-align: middle !important;
            font-weight: bold;
            font-size: 13px;
            color: whitesmoke;
        }

        #grdContYearDefter .dx-header-row .centerdiv {
            vertical-align: middle !important;
            font-weight: bold;
            font-size: 13px;
            color: black;
        }

        .custom {
            height: 55px;
            text-align: center;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #222943;
        }

            .custom[role="columnheader"] {
                margin-top: 25%;
                vertical-align: central !important;
                height: 58px;
                background: #F0F2F5;
                font-family: Mulish;
                font-size: 14px;
                font-weight: 800;
                line-height: 18px;
                letter-spacing: 0px;
                text-align: left;
            }

        .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
            vertical-align: central !important;
        }
    </style>
}
<span id="employee" style="position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);"></span>
<input type="hidden" style="display:none" id="txtcompname" value="@Model.InitialModel.currentcompname" />
<input type="hidden" style="display:none" id="txtcurcomCount" value="@Model.InitialModel.curcomCount" />
<input type="hidden" style="display:none" id="txtcurcomide" value="@Model.InitialModel.curcomID" />
<section class="content home" id="">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Dashboard</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <div class="col-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                                        <div class="col-6" style="text-align:left">
                                        </div>
                                        <div class="col-6" style="text-align:right">

                                            @(Html.DevExtreme().TextBox()
                                                .Value(Model.InitialModel.CompName).ReadOnly(true)
                                                )

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
        </div>
        <input type="hidden" style="display:none" id="txtmyear" value="@Model.InitialModel.CurrentUser.SelectedYear" />
        <input type="hidden" style="display:none" id="txtmcomp" value="@Model.InitialModel.CompID" />
        <input type="hidden" style="display:none" id="txtyearcount" value="@Model.InitialModel.YearCount" />
        <input type="hidden" style="display:none" id="txtcompcount" value="@Model.InitialModel.CompCount" />
        <input type="hidden" style="display:none" value="0" id="txtisupdate" />
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">

                <script>
                    var tyear = $("#txtmyear").val();
                    var mcompid = $("#txtmcomp").val();
                    function onCellPrepared(e) {

                        if (e.columnIndex == 2 && e.rowType == "data") {
                            var chkk = e.data;
                            console.log(parseInt(chkk.TRowCount));
                            if (parseInt(chkk.TRowCount) < 1) {
                                e.cellElement.find(".dx-command-edit").remove();


                            }
                        }

                        if (e.columnIndex == 3 && e.rowType == "data") {
                            var chkk = e.data;

                            if (parseInt(chkk.TRowCount) < 1) {
                                e.cellElement.find(".dx-link-edit").remove();


                            }
                        }
                    }
                    var misready = "nok";
                    var chkReadyState = setInterval(function () {
                        if (document.readyState == "complete") {

                            clearInterval(chkReadyState);

                            misready = "ok";

                            var nccoe = '@Model.InitialModel.curCompany.NaceId';

                            $("#slctNace")
                                .dxSelectBox("instance")
                                .option("value", nccoe);
                        }
                    }, 100);
                    function onRowPrepared(info) {
                        if (info.rowType != "header" && info.data.TxResult == "Bekleniyor") {

                            info.rowElement.addClass("setRowHeight");
                        } else if (info.rowType != "header") {
                            info.rowElement.addClass("setRowHeight");
                        }
                    }
                    var dt1 = "0";
                    var compid = $("#txtmcomp").val();
                    var monthid = 0;
                    var year = $("#txtmyear").val();



                    function getselectYearInstance() {
                        return $("#slctYear").dxSelectBox("instance");
                    }
                    function getselectCompInstance() {
                        return $("#slctCompany").dxSelectBox("instance");
                    }
                    function selectYear_Initialized() {
                        getselectYearInstance().option("value", parseInt($("#txtmyear").val()));
                        var chkco = parseInt($("#txtyearcount").val());

                        //if (chkco < 2) {
                        //    getselectYearInstance().option("readOnly", true);
                        //}


                    }

                    function selectComp_Initialized() {

                        var chkco = parseInt($("#txtcompcount").val());
                        getselectCompInstance().option("value", parseInt($("#txtmcomp").val()));

                        if (chkco < 2) {
                            getselectCompInstance().option("readOnly", true);
                        }
                    }









                    function startit() {
                        getLoadPanelInstance().show();

                    };

                    function functionupdatetax(data) {
                        startit();
                        monthid = data;
                        var fdatam = new FormData();
                        fdatam.append('companyid', $("#txtcurcomide").val());
                        fdatam.append('month', data);
                        fdatam.append('year', data);

                        $.ajax({
                            url: "/JsonService/Main/moodUpdateReportmain",
                            method: "POST",
                            statusCode: {
                                500: function () {
                                    getLoadPanelInstance().hide();
                                    Swal.fire({
                                        title: 'Server Erişim Sorunuz. Lütfen Sayfayı Yenileyiniz...',
                                        confirmButtonText: 'Yenile'
                                    }).then((result) => {
                                        /* Read more about isConfirmed, isDenied below */
                                        if (result.isConfirmed) {

                                            location.reload();
                                        }
                                    });
                                },
                                404: function () {
                                    alert("Script 404");
                                }
                            },
                            contentType: false,
                            data: fdatam,
                            processData: false,
                            cache: false,
                            success: function (data) {
                                getLoadPanelInstance().hide();
                                if (data == "nok") {

                                    Swal.fire(
                                        'Hata!',
                                        'Hata ile Karşılaşıldı!',
                                        'error'
                                    )
                                }
                                else {
                                    var arr = data.split('_');

                                    dt1 = arr[0];

                                    Swal.fire(
                                        'Başarılı!',
                                        'Güncelleme Tamamlandı!',
                                        'success'
                                    )
                                    setTimeout(function () {
                                        location.reload();
                                    }, 2000);


                                }


                            }
                        });


                    }

                </script>






                <div class="card">
                    <div class="body" style="min-height: 555px;">

                      
                            <div class="row">
                                <div class="container" style="margin-left:0">
                                    <p class=" " style="    font-family: 'Mulish';color:#140a0a;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 23px;
    white-space: nowrap;">
                                        Finansal Risk Analiz Raporları
                                   
                                    </p>

                                </div>

                                <div class="container" style="margin-left:0">
                                    <p class="mulish-bold-ebony-clay-14px" style="font-size:15px;">     Risk Raporu Al</p>

                                </div>


                                <div class="container" style="margin-left:0">
                                    <div class="row" style="max-width:525px;">
                                        <div class="col-3" style=" vertical-align: middle">
                                            <p class="mulish-bold-ebony-clay-14px" style=" vertical-align: middle;max-width:225px;margin-top:9px;text-align:right">Nace Kodu</p>
                                        </div>
                                        <div class="col-8" style="max-height:55px;       letter-spacing: 0;
                line-height: normal;
                min-height: 18px;
                min-width: 16px;">
                                            @(Html.DevExtreme().SelectBox().SearchEnabled(true)
                                                .DataSource(d => d.StaticJson().Url("/naccecode.json").Key("ID")).ID("slctNace")
                                                .DisplayExpr("Description")
                                                .ValueExpr("ID") 
                                                )
                                        </div>
                                        <div class="col-12" style="margin-left:7%">
                                            @(Html.DevExtreme().Button()
                                                .Text("Risk Raporu Oluştur")
                                                .Type(ButtonType.Default)
                                                .StylingMode(ButtonStylingMode.Contained)
                                                .Width(225).OnClick("selectrep_valuepdf")
                                                )
                                        </div>
                                      
                                    </div>

                                </div>





                                <div class="container">
                                    <br />   <br />

                                </div>
                                <div class="col-md-12 col-lg-12">




                                    <div class="card">
                                    <div class="body">
                                            @(Html.DevExtreme().DataGrid<CompanyReport>().ColumnHidingEnabled(true).ID("grdContainerDefter")
                                                .Scrolling(s => s
                                                .Mode(GridScrollingMode.Virtual)
                                                .RowRenderingMode(GridRowRenderingMode.Virtual)
                                                )
                                                .Paging(p => p.PageSize(10))
                                                .ColumnAutoWidth(true).ShowBorders(false)
                                                .HeaderFilter(f => f.Visible(true))
                                                .WordWrapEnabled(true).RowAlternationEnabled(true)
                                            .ShowBorders(true).DataSource(Model.InitialModel.reportList).Columns(columns =>
                                                {
                                                    columns.AddFor(m => m.CreatedDate).Caption("OLUŞTURULMA TARİHİ").CssClass("custom");
                                                    columns.AddFor(m => m.ReportName).Caption("GÖZLEMLENECEK RAPOR").CssClass("custom").Format(Format.FixedPoint);
                                                    columns.Add().CssClass("custom").Caption("İŞLEMLER").CellTemplate(@<text>
                                            <p style="text-align:center" onclick="funczone(<%= data.ID %>)"> <img class="retvalbutton" data-id="<%= data.ID %>" src="~/ico/Buttons.svg" /></p>
                                            </text>);

                                                })
                                                )



                                        </div>
                                    </div>






                                </div>

                            </div>



                        

                    </div>
                </div>

            </div>



        </div>

    </div>
</section>
@(Html.DevExtreme().LoadPanel()
        .ID("loadPanel")
        .ShadingColor("rgba(0,0,0,0.4)")
        .Position(p => p.Of("#employee"))
        .Visible(false)
        .ShowIndicator(true).Message("E-defter İşleniyor.. Lütfen Bekleyiniz...")
        .ShowPane(true).Height(300).Width(500)
        .Shading(true)
          .HideOnOutsideClick(false)
        .OnShown("loadPanel_shown")
    )
<input type="text" id="mainyear" name="mainyear" value="@Model.InitialModel.CurrentUser.SelectedYear" style="display:none" />
<input type="text" id="mainmonth" name="mainmonth" style="display:none" />

 

@section Scripts {
    <script src="~/js/polyfill.min.js"></script>

    <script>
        function funczone(data) {
            var turl = '/admin/finance/mizan/reportmaintestmizan?handler=CheckUrl&fileID=' + data;

 
            $.ajax({
                type: "GET",
                url: turl,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {


      
                    console.log(response);

                    if (response == "nok") {
                        Swal.fire(
                            'Uyarı!',
                            'Hata Kaydı Bulunamadı!',
                            'error'
                        )
                        return;
                    }
                    else {
                        var url;
                        var word;
                        if (typeof response === 'string' && (response.indexOf('http://') === 0 || response.indexOf('https://') === 0)) {
                            url = response;
                            word = response.substring(response.lastIndexOf('/') + 1);
                        } else {
                            var chkdomain = $(location).attr('host');
                            var proto = window.location.protocol + '//';
                            const myArray = response.split("/");
                            word = myArray[myArray.length - 1];
                            url = proto + chkdomain + '/' + response;
                        }
                        console.log(url);
                        var link = document.createElement('a');
                        link.href = url;
                        link.target = '_blank';
                        link.rel = 'noopener';
                        link.download = word;
                        link.dispatchEvent(new MouseEvent('click'));
                    }

                },
                failure: function (response) {
                    alert(response);
                }
            });


            return false;
        
        }
     
        function selectrep_valuepdf() {
            var chknacce = $("#slctNace")
                .dxSelectBox("instance")
                .option("value");
            console.log(chknacce);

            var turl = '/admin/finance/mizan/reportmaintestmizan?handler=CheckRepPdf&companyID=@Model.InitialModel.curcomID&nacceco=' + chknacce;

            if (chknacce == 'undefined' || chknacce === null || chknacce === 'null' || chknacce === '0' || chknacce === 0 || chknacce.length < 1) {

                Swal.fire(
                    'Hata!',
                    'Nace Kodu Seçilmelidir!',
                    'error'
                )
                return;
            }


            getLoadPanelInstance().show();
            $.ajax({
                type: "GET",
                url: turl,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {


                    getLoadPanelInstance().hide();
                    console.log(response);

                    if (response == "nok") {
                        Swal.fire(
                            'Uyarı!',
                            'Hata Kaydı Bulunamadı!',
                            'error'
                        )
                        return;
                    }
                    else {

                        location.reload();
                        // var chkdomain = $(location).attr('host');


                        // const myArray = response.split("/");
                        // let word = myArray[1];
                        // var url = 'https://' + chkdomain + '/' + response;
                        // // window.location.href = 'https://' + chkdomain + response;
                        // console.log(url);
                        // var link = document.createElement('a');
                        // link.href = url;
                        // link.download = word;
                        // link.dispatchEvent(new MouseEvent('click'));
                    }

                },
                failure: function (response) {
                    alert(response);
                }
            });
            return false;

        }
        function getLoadPanelInstance() {
            return $("#loadPanel").dxLoadPanel("instance");
        }
        function loadPanel_shown(e) {
            setTimeout(function () {
                e.component.hide();
            }, 610000);
        }
      

        var txcompname = $("txtcompname").val();

        function formatMessage(e) {

            return $("#txtcompname").val();
        }



    </script>

}

