@page

@using System.Threading
@using fincheckup.ApiClients.Models.Requests.Finance.Mizan.Jrnl.UpPageAktarmaMizan
@using fincheckup.ApiClients.Models.Requests.Finance.Mizan.UpPageAktarma
@using fincheckup.ApiClients.Models.ViewModel
@using fincheckup.ApiClients.Services.Finance

@model IndexModel
@{
    ViewData["Title"] = "Giriş Ekranı";
    Layout = "~/Pages/Shared/_LayoutFinanceMzn.cshtml";
}


@functions {
    public class IndexModel(IFinanceMizanJrnlUpPageAktarmaMizanClient apiClient) : PageModel
    {
        
        private readonly IFinanceMizanJrnlUpPageAktarmaMizanClient _apiClient = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
        public MizanUpPageAktarmaMizanRequestInitialModel InitialModel;
  
        public async Task OnGet()
        {
            try
            {
                var response = await _apiClient.GetAsync(new MizanUpPageAktarmaMizanOnGetRequest(), CancellationToken.None);
                if (response.IsSuccess)
                {
                    InitialModel = response.Data?.InitialModel;
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
            
            /*myearResult = YearResult.getValue();



            UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            CurrentUser = HhvnUsers.GetRow_User(UserID);
            mreqListCompany = Companies.Getby_User(UserID);
            CurrentCom = mreqListCompany.Where(x => x.IsDefault == 1).FirstOrDefault();
            CompName = mreqListCompany.Where(x => x.IsDefault == 1).FirstOrDefault().CompanyName;
            currentcompname = CurrentCom.CompanyName;
            curcomID = CurrentCom.ID;
            curcomCount = mreqListCompany.Count();
            //currentUpload = UploadMain.Get_Data(DateTime.Now.Year, curcomID);
            Nacenum = 80;
            if (!string.IsNullOrEmpty(CurrentCom.NaceCode) && !string.IsNullOrWhiteSpace(CurrentCom.NaceCode) && CurrentCom.NaceCode.Substring(0, 2) == "41")
            {
                Nacenum = 15;
            }
            CompID = CurrentCom.ID;
            YearCount = TBLXml.GetYearByComapnyID(CompID);
            CompCount = mreqListCompany.Count();*/

        }
        
        public async Task<JsonResult> OnGetSalerDateMain(int nyear)
        {
            try
            {
                var response = await _apiClient.GetSalerDateMainAsync(new MizanUpPageAktarmaMizanOnGetSalerDateMainRequest()
                {
                    nyear = nyear
                }, CancellationToken.None);
               
                if (response.IsSuccess)
                {
                    InitialModel = response.Data?.InitialModel;  
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
                return new JsonResult(response.Data!.Response);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            } 
           /* UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            CurrentUser = HhvnUsers.GetRow_User(UserID);

            curcomID = Companies.Getby_User(UserID).Where(x => x.IsDefault == 1).FirstOrDefault().ID;


            List<DashAktarma> currentUploadM1 = ReportSetMain.Get_CompanyAktarmaResult(nyear, curcomID);
            List<DashAktarma> currentUploadM = DashAktarma.AddSMMM(currentUploadM1);
            DataSourceLoadOptions options = new DataSourceLoadOptions();

            return new JsonResult(DataSourceLoader.Load(currentUploadM, options));
            */

        }



        public async Task<JsonResult> OnGetSalerDate(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetSalerDateAsync(new MizanUpPageAktarmaMizanOnGetSalerDateRequest()
                {
                    options = options
                }, CancellationToken.None);
               
                if (response.IsSuccess)
                {
                    InitialModel = response.Data?.InitialModel;  
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
                return new JsonResult(response.Data!.Response);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            } 
            /*
            UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            CurrentUser = HhvnUsers.GetRow_User(UserID);

            curcomID = Companies.Getby_User(UserID).Where(x => x.IsDefault == 1).FirstOrDefault().ID;

            var currentUploadM = ReportSetMain.Get_StatbyCompanyAktarma(curcomID);


            return new JsonResult(DataSourceLoader.Load(currentUploadM.OrderBy(x => x.MainMonth).ToList(), options));
                    */
        }
        
        public async Task<JsonResult> OnGetSalerYear(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetSalerYearAsync(new MizanUpPageAktarmaMizanOnGetSalerYearRequest()
                {
                    options = options
                }, CancellationToken.None);
               
                if (response.IsSuccess)
                {
                    InitialModel = response.Data?.InitialModel;  
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
                return new JsonResult(response.Data!.Response);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
/*
            var YearSetm = YearResult.getValue().OrderByDescending(x => x.MYear);
            return new JsonResult(DataSourceLoader.Load(YearSetm, options));
            */

        }
        public async Task<JsonResult> OnGetSalerComp(DataSourceLoadOptions options)
        {

            try
            {
                var response = await _apiClient.GetSalerCompAsync(new MizanUpPageAktarmaMizanOnGetSalerCompRequest()
                {
                    options = options
                }, CancellationToken.None);
               
                if (response.IsSuccess)
                {
                    InitialModel = response.Data?.InitialModel;
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
                return new JsonResult(response.Data!.Response);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
            /*
            UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            mreqListCompany = Companies.Getby_User(UserID);
            return new JsonResult(DataSourceLoader.Load(mreqListCompany, options));
*/
        }

        public async Task<JsonResult> OnGetGraphComp(int ncompid)
        {
            /*if (ncompid < 1)
            {
                return new JsonResult("nok");

            }
            UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            if (HhvnUsers.CheckUser(ncompid, UserID))
            {
                UserCompany.Update_UserDefault(UserID, ncompid);
            }



            return new JsonResult("ok");
            */ 
            return new JsonResult("Burada hata var finance/mizan/jrnl/UpPageAktarmaMizan/OnGetGraphComp");
        }
        
        public JsonResult OnGetGraphYear(int nyear)
        {
            /*UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            HhvnUsers.SetYear(nyear, UserID);
            return new JsonResult("ok");*/
            return new JsonResult("Burada hata var finance/mizan/jrnl/UpPageAktarmaMizan/OnGetGraphYear");

        }

    }
}
@section Styles {
    <script src="~/assets/progress.js"></script>

    <style>
        .orangecolor {
            background-color: #874651;
        }

        .greencolor {
            background-color: #004aad; 
        }

        /*   .dx-scrollview-content {
                            position: absolute;
                        }*/

        #grdContYearDefter .centerdiv {
            vertical-align: middle !important;
            font-weight: bold;
            font-size: 13px;
            color: whitesmoke;
        }

        #grdContYearDefter .dx-header-row .centerdiv {
            vertical-align: middle !important;
            font-weight: bold;
            font-size: 13px;
            color: black;
        }
    </style>
}
<input type="hidden" style="display:none" id="txtcompname" value="@Model.InitialModel.currentcompname" />
<input type="hidden" style="display:none" id="txtcurcomCount" value="@Model.InitialModel.curcomCount" />
<input type="hidden" style="display:none" id="txtcurcomide" value="@Model.InitialModel.curcomID" />
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Dashboard</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <div class="col-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                                        <div class="col-6" style="text-align:left">


                                        </div>
                                        <div class="col-6" style="text-align:right">

                                            @(Html.DevExtreme().SelectBox().Visible(false)
                                                                .DataSource(Model.InitialModel.mreqListCompany).ID("slctCompany").OnSelectionChanged("selectCompany_valueChanged")
                                                                .DisplayExpr("CompanyName").OnInitialized("selectComp_Initialized")
                                                                .ValueExpr("ID")   .FieldTemplate(@<text>
                                                                    <div class="custom-item">

                                                                        @(Html.DevExtreme().TextBox()
                                                                        .Value(new JS("typeof CompanyName !== 'undefined' && CompanyName"))
                                                                        .ElementAttr("class", "productname")
                                                                        .ReadOnly(true)
                                                                        )
                                                                    </div>
                                                                </text>).ItemTemplate(@<text>
                                                                    <div class="custom-item">
                                                                        <div class="product-name" style="text-align:right">[%- CompanyName %]</div>
                                                                    </div>
                                                                </text>)
                                                                )
                                            @(Html.DevExtreme().TextBox()
                                .Value(Model.InitialModel.CompName)  .ReadOnly(true)
                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="body l-parpl text-center">

                        <h3 class="m-b-0 m-t-10 text-white"><span id="txterroredcombin" style="display:none">0</span></h3>
                        <span class="text-white">Aktarma Raporları</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="body l-seagreen text-center">

                        <h3 class="m-b-0 m-t-10 text-white"> </h3>

                    </div>
                </div>
            </div>

        </div>
        <input type="hidden" style="display:none" id="txtmyear" value="@Model.InitialModel.CurrentUser.SelectedYear" />
        <input type="hidden" style="display:none" id="txtmcomp" value="@Model.InitialModel.CompID" />
        <input type="hidden" style="display:none" id="txtyearcount" value="@Model.InitialModel.YearCount" />
        <input type="hidden" style="display:none" id="txtcompcount" value="@Model.InitialModel.CompCount" />
        <input type="hidden" style="display:none" value="0" id="txtisupdate" />
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">

                <script>
                    var tyear = $("#txtmyear").val();
                    var mcompid = $("#txtmcomp").val();
                    function onCellPrepared(e) {

                        if (e.columnIndex == 2 && e.rowType == "data") {
                            var chkk = e.data;
                            console.log(parseInt(chkk.TRowCount));
                            if (parseInt(chkk.TRowCount) < 1) {
                                e.cellElement.find(".dx-command-edit").remove();

                                e.cellElement.find(".dx-link-edit").remove();
                            }
                        }

                        if (e.columnIndex == 3 && e.rowType == "data") {
                            var chkk = e.data;

                            if (parseInt(chkk.TRowCount) < 1) {
                                e.cellElement.find(".dx-link-edit").remove();


                            }
                        }

                        if (e.columnIndex == 4 && e.rowType == "data") {
                            var chkk = e.data;

                            if (parseInt(chkk.TRowCount) < 1) {
                                e.cellElement.find(".dx-link-edit").remove();


                            }
                        }
                    }
                    var misready = "nok";
                    var chkReadyState = setInterval(function () {
                        if (document.readyState == "complete") {

                            clearInterval(chkReadyState);

                            misready = "ok";
                        }
                    }, 100);
                    function onRowPrepared(info) {
                        if (info.rowType != "header" && info.data.TxResult == "Bekleniyor") {

                            info.rowElement.addClass("orangecolor");
                        } else if (info.rowType != "header") {
                            info.rowElement.addClass("greencolor");
                        }
                    }
                    var dt1 = "0";
                    var compid = $("#txtmcomp").val();
                    var monthid = 0;
                    var year = $("#txtmyear").val();



                    function getselectYearInstance() {
                        return $("#slctYear").dxSelectBox("instance");
                    }
                    function getselectCompInstance() {
                        return $("#slctCompany").dxSelectBox("instance");
                    }
                    function selectYear_Initialized() {
                        getselectYearInstance().option("value", parseInt($("#txtmyear").val()));
                        var chkco = parseInt($("#txtyearcount").val());

                        //if (chkco < 2) {
                        //    getselectYearInstance().option("readOnly", true);
                        //}


                    }

                    function selectComp_Initialized() {

                        var chkco = parseInt($("#txtcompcount").val());
                        getselectCompInstance().option("value", parseInt($("#txtmcomp").val()));

                        if (chkco < 2) {
                            getselectCompInstance().option("readOnly", true);
                        }
                    }



                    function selectCompany_valueChanged(data) {
                        var slctval = data.selectedItem.ID;

                        var turl = '/admin/consult/dashboard?handler=GraphComp&ncompid=' + slctval;
                        if (misready == "ok" && mcompid.toString() != slctval.toString()) {
                            getLoadPanelInstance().show();
                            $.ajax({
                                type: "GET",
                                url: turl,
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                    if (response == "ok") {
                                        location.reload();
                                    }

                                },
                                failure: function (response) {
                                    alert(response);
                                }
                            });
                        }


                    }


                    function funcUpload() {
                        $('#uploadInput').focus().trigger('click');
                        $("#griddiv").css("display", "none");
                    }





                    var tyear = $("#txtmyear").val();
                    var mcompid = $("#txtmcomp").val();


                    function startit() {
                        getLoadPanelInstance().show();

                    };
                    function functionsec(data) {

                        monthid = data;
                        $("#mainmonth").val(monthid);
                        var compidz = $("#txtmcomp").val();

                        var yearz = $("#txtmyear").val();


                        '/admin/upcheck?nyear=' + yearz + '&nmon=' + compidz + '&nmont=' + monthid,
                            '_blank' // <- This is what makes it open in a new window.


                    }
                    function functionupdatetax(data) {
                        startit();
                        monthid = data;

                        tyear = data;
                        var fdatam = new FormData();
                        fdatam.append('companyid', $("#txtmcomp").val());
                        fdatam.append('month', 0);
                        fdatam.append('year', data);

                        $.ajax({
                            url: "/JsonService/Mizan/moodUpdatesaktarma",
                            method: "POST",
                            statusCode: {
                                500: function () {
                                    getLoadPanelInstance().hide();
                                    Swal.fire({
                                        title: 'Server Erişim Sorunu. Lütfen Sayfayı Yenileyiniz...',
                                        confirmButtonText: 'Yenile'
                                    }).then((result) => {
                                        /* Read more about isConfirmed, isDenied below */
                                        if (result.isConfirmed) {

                                        }
                                    });
                                },
                                404: function () {
                                    alert("Script 404");
                                }
                            },
                            contentType: false,
                            data: fdatam,
                            processData: false,
                            cache: false,
                            success: function (data) {
                                getLoadPanelInstance().hide();
                                if (data == "nok") {

                                    Swal.fire(
                                        'Hata!',
                                        'Hata ile Karşılaşıldı!',
                                        'error'
                                    )
                                }
                                else {
                                    var arr = data.split('_');
                                    $("#griddiv").css("display", "block");
                                    dt1 = arr[0];
                                    let elementz = document.getElementById("grdContYearDefterz");
                                    let instancez = DevExpress.ui.dxDataGrid.getInstance(elementz);
                                    instancez.getDataSource().reload();
                                    Swal.fire(
                                        'Başarılı!',
                                        'Güncelleme Tamamlandı!',
                                        'success'
                                    )
                                    setTimeout(function () {

                                    }, 2000);


                                }


                            }
                        });


                    }
                    function notifyb() {
                        var selectedids = $("#selectedItemsContainer").val();

                        if (selectedids.length<1) {
                            Swal.fire(
                                'Hata!',
                                'Seçim Yapılmalı !',
                                'error'
                            )
                        }
                        else {
                            startit();
                            var fdatam = new FormData();
                            fdatam.append('companyid', $("#txtmcomp").val());
                            fdatam.append('month', 0);
                            fdatam.append('caplist', selectedids);
                            fdatam.append('year', tyear);
                            $.ajax({
                                url: "/JsonService/Mizan/moodUpdatesaktarmaselectedmzn",
                                method: "POST",
                                statusCode: {
                                    500: function () {
                                        getLoadPanelInstance().hide();
                                        Swal.fire({
                                            title: 'Server Erişim Sorunu. Lütfen Sayfayı Yenileyiniz...',
                                            confirmButtonText: 'Yenile'
                                        }).then((result) => {
                                            /* Read more about isConfirmed, isDenied below */
                                            if (result.isConfirmed) {

                                            }
                                        });
                                    },
                                    404: function () {
                                        alert("Script 404");
                                    }
                                },
                                contentType: false,
                                data: fdatam,
                                processData: false,
                                cache: false,
                                success: function (data) {
                                    getLoadPanelInstance().hide();
                                    if (data == "nok") {

                                        Swal.fire(
                                            'Hata!',
                                            'Hata ile Karşılaşıldı !',
                                            'error'
                                        )
                                    }
                                    else {
                                        var arr = data.split('_');
                                        $("#griddiv").css("display", "block");

                                        location.reload();
                                        Swal.fire(
                                            'Başarılı!',
                                            'İşlemler Tamamlandı!',
                                            'success'
                                        )
                                        setTimeout(function () {

                                        }, 2000);


                                    }


                                }
                            });
                        }

                    }
                </script>






                <div class="card">
                    <div class="body">

                        <div class="row">


                            <div class="col-md-12 col-lg-6">
                                <div class="row clearfix">
                                    <div class="col-md-9 col-lg-9">


                                        <div class="card" id="griddiv" style="display:none">
                                            <div class="body">
                                                <div class="row">


                                                </div>
                                                <div style="text-align:right">
                                                    <br /><br />


                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>



                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="row clearfix">
                                    <div class="col-md-12 col-lg-12">


                                        <div class="card">
                                            <div class="body">
                                                <div class="row">
                                                    @(Html.DevExtreme().DataGrid<YearlyErrorResult>
                                                                            ().ColumnHidingEnabled(true).ID("grdContYearDefter").OnCellPrepared("onCellPrepared").OnRowPrepared("onRowPrepared").ShowColumnLines(false).ShowBorders(false).ColumnAutoWidth(true)
                                                                            .Height(440) .Columns(columns =>
                                                                            {
                                                                            columns.AddFor(m => m.MainYear).Caption("Yıl").CssClass("centerdiv") ;
                                                                            columns.AddFor(m => m.MainMonth).Visible(false).SortOrder(SortOrder.Asc);

                                                                            columns.Add().CssClass("").Caption("Rapor").CellTemplate(@<text>
                                                                                <div onclick="functionupdate('[%= data.MainYear %]')" class="dxmain dx-link-edit dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text" aria-label="Yükle" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Mizan </span></div></div>


                                                                            </text>);


                                                                            columns.AddFor(m => m.TRowCount).Visible(false);

                                                                            }).DataSource(d => d.RemoteController().LoadUrl(Url.Page(null, "SalerDate"))
                                                                            ))
                                                </div>

                                                <input type="text" id="selectedItemsContainer" name="selectedItemsContainer" style="display:none" />
                                            </div>
                                        </div>
                                    </div>

                                </div>



                            </div>

                        </div>



                    </div>

                </div>
            </div>

        </div>



    </div>
</section>
@(Html.DevExtreme().LoadPanel()
                    .ID("loadPanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Position(p => p.Of("#employee"))
                    .Visible(false)
                    .ShowIndicator(true).Message("Veriler İşleniyor.. Lütfen Bekleyiniz...")
                    .ShowPane(true).Height(300).Width(500)
                    .Shading(true)
                    .HideOnOutsideClick(false)
                    .OnShown("loadPanel_shown")
                    )
<input type="text" id="mainyear" name="mainyear" value="@Model.InitialModel.CurrentUser.SelectedYear" style="display:none" />
<input type="text" id="mainmonth" name="mainmonth" style="display:none" />




@section Scripts{
    <script src="~/js/polyfill.min.js"></script>

    <script>
        var changedBySelectBox;
        var titleSelectBox;
        var clearSelectionButton;
        function button_onInitialized(e) {
            clearSelectionButton = e.component;
        }
        function onInitializedgrid(e) {
           /* e.component.selectAll();*/
        }

        function button_click() {
            getDataGridInstance().clearSelection();
        }
        function getDataGridInstance() {
            return $("#grdContYearDefterz").dxDataGrid("instance");
        }

        function selection_changed(selectedItems) {
            var dataGrid = getDataGridInstance();
            var data = selectedItems.selectedRowsData;
            clearSelectionButton.option('enabled', true);
            if (data.length > 0) {
                $("#selectedItemsContainer").val(
                    data
                        .map((value) => `${value.TypeID}`)
                        .join(",")
                );
            } else {
                $("#selectedItemsContainer").val("");
            }
         /*   setfdate($("#selectedItemsContainer").val());*/
            clearSelectionButton.option('disabled', !data.length);
        }
        function getLoadPanelInstance() {
            return $("#loadPanel").dxLoadPanel("instance");
        }
        function loadPanel_shown(e) {
            setTimeout(function () {
                e.component.hide();
            }, 610000);
        }
        function functionupdate(data) {

            var monthide = data;
            $("#mainmonth").val(monthide);
            var compidz = $("#txtmcomp").val();

            var yearz = $("#txtmyear").val();
            window.open(
                '/admin/consult/upbalanceaktjrnl?nyear=' + data,
                '_blank' // <- This is what makes it open in a new window.
            );
        }
        function functionupdateBlnc(data) {

            var monthide = data;
            $("#mainmonth").val(monthide);
            var compidz = $("#txtmcomp").val();

            var yearz = $("#txtmyear").val();
            window.open(
                '/admin/dashbilancoakt?myear=' + data,
                '_blank' // <- This is what makes it open in a new window.
            );
        }
        function functionupdateRvn(data) {

            var monthide = data;
            $("#mainmonth").val(monthide);
            var compidz = $("#txtmcomp").val();

            var yearz = $("#txtmyear").val();
            window.open(
                '/admin/dashbilancorvnakt?myear=' + data,
                '_blank' // <- This is what makes it open in a new window.
            );
        }

        var txcompname = $("txtcompname").val();

        function formatMessage(e) {

            return $("#txtcompname").val();
        }



    </script>

}

