@page

@using System.Threading
@using fincheckup.ApiClients.Entities
@using fincheckup.ApiClients.Models.Requests.Finance.Menu.UserEdit
@using fincheckup.ApiClients.Services.Finance

@model IndexModel
@{
    ViewData["Title"] = "Giriş Ekranı";
    Layout = "~/Pages/Shared/_LayoutFinancea.cshtml";
}
 
@functions {
    public class IndexModel(IFinanceMenuUserEditApiClient apiClient) : PageModel
    {
        private readonly IFinanceMenuUserEditApiClient _apiClient = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
        public  UserEditInitialModel InitialModel;

        // public long UserID;
        // public HhvnUsers CurrentUser; 
        // public IEnumerable<Entities.Company> mreqListCompany;
        // public List<UserTypes> mreqListUserType;
        // public IEnumerable<Cities> mreqListCitiy;
        // public IEnumerable<YearResult> myearResult;

        // public HhvnUsers mrequest;

        // public string mreqListCitiystr { get; set; }

        public async Task OnGet(int id = 0)
        {
            try
            {
                var response = await _apiClient.GetAsync(
                    new UserEditOnGetRequest
                    {
                        id = id
                    }, CancellationToken.None);
               
                if (response.IsSuccess)
                {
                    InitialModel = response.Data?.InitialModel;
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
            // myearResult = YearResult.getValue();
            // UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            // CurrentUser = HhvnUsers.GetRow_User(UserID);
            // if (id == 0)
            // {
            //     mrequest = new HhvnUsers();



            // }
            // else
            // {
            //     mrequest = HhvnUsers.GetRow_User(id);
            //     mrequest.Password = PassWordHash.Decrypt(mrequest.Password);
            // }
            // mreqListUserType = UserTypes.Get_Types();


            // mreqListCompany = new List<Entities.Company>();

            // mreqListCompany = Companies.Getby_User(id);
            // mrequest.CompanyList = mreqListCompany.Select(x => x.ID).ToList();

            // mreqListCitiystr = string.Join(";", mrequest.CompanyList);

        }

        public JsonResult OnGetSalerMain(DataSourceLoadOptions options)
        {
 
            // mreqListUserType = UserTypes.Get_Types();
            //
            // UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            // CurrentUser = HhvnUsers.GetRow_User(UserID);
            // mreqListCompany = new List<Entities.Company>();
            //
            // if (CurrentUser.UserTypeID == 1001)
            // {
            //     mreqListUserType = UserTypes.Get_Types();
            // }
            // else if (CurrentUser.UserTypeID == 4)
            // {
            //     mreqListUserType = UserTypes.Get_Types().Where(x => x.ID != 1001).ToList();
            // }
            // else
            // {
            //     mreqListUserType = UserTypes.Get_Types().Where(x => x.ID != 1001 && x.ID != 4).ToList();
            // }
            //
            // return new JsonResult(DataSourceLoader.Load(mreqListUserType, options));
            return new JsonResult("Eksik entegrasyon  finance/menu/useredit/OnGetSalerMain");
        }

        public async Task<JsonResult> OnGetSalerCity(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetSalerCityAsync(
                    new UserEditOnGetSalerCityRequest
                    {
                        options = options
                    }, CancellationToken.None);
                
                if (response.IsSuccess)
                {
                    return response.Data.Response;
                }
                
                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/menu/useredit/OnGetSalerCity");
                
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }


            // mreqListCitiy = Cities.Get_Cities();
            // return new JsonResult(DataSourceLoader.Load(mreqListCitiy, options));

        }
       
        public async Task<JsonResult> OnGetSalerCompany(DataSourceLoadOptions options, string dt1)
        {
            try
            {
                var response = await _apiClient.GetSalerCompanyAsync(new UserEditOnGetSalerCompanyRequest
                    {
                        UserEditInitialModel = InitialModel,
                        options = options
                    } , CancellationToken.None);
                
                if (response.IsSuccess)
                {
                    return response.Data.Response;
                }
                 Console.WriteLine(response.ProblemDetails.Detail);
                 return new JsonResult("Burada hata var finance/menu/useredit/OnGetSalerCompany");
                
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }

            // UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            // CurrentUser = HhvnUsers.GetRow_User(UserID);
            // mreqListCompany = new List<Entities.Company>();

            // if (CurrentUser.UserTypeID == 1001)
            // {
            //     mreqListCompany = Companies.Get_All();
            // }
            // else if (CurrentUser.UserTypeID == 4)
            // {
            //     mreqListCompany = Companies.Getby_User(UserID);
            // }
            // return new JsonResult(DataSourceLoader.Load(mreqListCompany, options));

        }
        public async Task<JsonResult> OnGetUser(int id = 0, string ide = "0")
        {
            try
            {
                var response = await _apiClient.GetUserAsync(
                    new UserEditOnGetUserRequest
                    {
                        id=id,
                        ide = ide
                    }, CancellationToken.None);
               
                if (response.IsSuccess)
                {
                    return response.Data.Response;
                }
               
                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/menu/useredit/OnGetUser");
                
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }

            // string typeresult = "true";
            //if (id != 0 && ide != 0)
            //{
            //    var appUser = UserLogin.GetUserbyID(id);


            //    if (appUser.VerificationCode != ide.ToString())
            //    {
            //        TempData["Fail"] = "Verification code Problem";

            //    }
            //    else
            //    {

            //        SignIn(appUser);

            //    }
            //}

            // return new JsonResult(typeresult);
        }

    }
}
@section Styles {
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/morrisjs/morris.css">
    <style>
        .tdnormall {
            padding-top: 0.1rem !important;
            padding-left: 0.75rem !important;
            padding-bottom: 0.1rem !important;
            padding-right: 0.75rem !important;
        }
       
        #chartxt {
            max-height: 255px !important;
        }
    </style>
}

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Kullanıcı Detayı</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Kullanıcı Detayı</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-6"> </div>
                            <div class="col-6" style="text-align:right">
                                @(Html.DevExtreme().Button()
        .ID("buttonz")
        .Text("Geri Dön").OnClick((@<text>
        function() {
           history.back();
        }
    </text>))
        .Type(ButtonType.Default)
    )


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="body">



                        <form id="frm">
                          <input type="hidden" value="@Model.InitialModel.mrequest.UserGuid"  id="UserGuid" name="UserGuid" />

                            @(Html.DevExtreme().Form<HhvnUsers>
    ()
    .ID("formuser").ShowValidationSummary(false)
    .Items(items => {
        items.AddGroup().Name("userdetail").Caption("Kullanıcı Detayı")
        .ColCount(4)
        .Items(groupItems => {

            groupItems.AddGroup().ColSpan(2).Items(secondGroupItems => { 
                secondGroupItems.AddSimpleFor(m => m.Id).Editor(e => e.NumberBox().ReadOnly(true)).Label(l => l.Text("ID"));
                secondGroupItems.AddSimpleFor(m => m.FirstName).Editor(e => e.TextBox()).IsRequired(true).Label(l => l.Text("Adı"));
                secondGroupItems.AddSimpleFor(m => m.LastName).Editor(e => e.TextBox()).IsRequired(true).Label(l => l.Text("Soyadı"));
                secondGroupItems.AddSimpleFor(m => m.Email).Editor(e => e.TextBox()).Label(l => l.Text(" E-mail"));

                secondGroupItems.AddSimpleFor(m => m.Password).Name("txPassword").Editor(e => e.TextBox()).IsRequired(true).Label(l => l.Text(" Şifre"));







            });
            groupItems.AddGroup().ColSpan(2).Items(secondGroupItems =>
            {

                secondGroupItems.AddSimpleFor(m => m.Phone).Editor(e => e.TextBox()).Label(l => l.Text(" Telefon"));

                secondGroupItems.AddSimpleFor(m => m.UserTypeID).IsRequired(true).Label(l => l.Text("Kullanıcı Tipi")).IsRequired(true).Editor(e => e.SelectBox()
               .DataSource(d => d.RemoteController().LoadUrl(Url.Page(null, "SalerMain")).Key("ID"))
               .DisplayExpr("Type")
               .ValueExpr("ID"));
                secondGroupItems.AddSimpleFor(m => m.CityID).IsRequired(true).Label(l => l.Text("Şehir")).Editor(e => e.SelectBox()
               .DataSource(d => d.RemoteController().LoadUrl(Url.Page(null, "SalerCity")).Key("ID"))
               .DisplayExpr("City")
               .ValueExpr("ID"));


                secondGroupItems.AddSimpleFor(m => m.IsActive).Label(l => l.Text("Aktif Mi"));


            });
            groupItems.AddGroup().ColSpan(4).Items(secondGroupItems =>
            {
                secondGroupItems.AddSimpleFor(m => m.CompanyList).Name("CompanyList").IsRequired(true).Label(l => l.Text("Şirket")).Editor(e => e.DropDownBox()
                 .ContentTemplate(new TemplateName("EmbeddedDataGridMultiple"))
                            .DataSource(d => d.RemoteController().LoadUrl(Url.Page(null, "SalerCompany")).Key("ID").LoadMode(DataSourceLoadMode.Raw))
                            .DisplayExpr("CompanyName").ValueExpr("ID").OnValueChanged("gridBox_valueChanged"))
                           ;




            });
        });
        items.AddGroup()
       .ColCount(4)
       .Items(groupItems =>
       {

           groupItems.AddGroup().ColSpan(2).Items(secondGroupItems =>
           {

               secondGroupItems.AddButton()
                 .HorizontalAlignment(HorizontalAlignment.Left)
                 .ButtonOptions(b => b.Text("Şifre Değiştir")
                     .Type(ButtonType.Default).OnClick("FuncPass")
             );




           });
           groupItems.AddGroup().ColSpan(2).Items(secondGroupItems =>
           {

               secondGroupItems.AddButton()
                  .HorizontalAlignment(HorizontalAlignment.Right)
                  .ButtonOptions(b => b.Text("Kaydet")
                      .Type(ButtonType.Success)
                      .UseSubmitBehavior(true)
              );




           });
       });





    })

    .FormData(Model.InitialModel.mrequest).OnInitialized("onFormInitialized")
    )
                        </form>



                    </div>

                </div>

            </div>

            @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultiple"))
            {
                @(Html.DevExtreme().DataGrid()
        .ID("embedded-datagrid")
        .DataSource(new JS(@"component.getDataSource()"))
        .Columns(columns => {
            columns.Add().DataField("ID").Width(0);
            columns.Add().DataField("CompanyName");
            columns.Add().DataField("City");
        })
        .HoverStateEnabled(true).KeyExpr("ID")
        .Paging(p => p.PageSize(10))
        .FilterRow(f => f.Visible(true))
        .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
        .Height(345)
        .Selection(s => s.Mode(SelectionMode.Multiple))
        .SelectedRowKeys(new JS(@"component.option(""value"")"))
        .OnSelectionChanged(@<text>
           function(selectedItems) {
                var keys = selectedItems.selectedRowKeys;
                component.option("value", keys);
            }
        </text>)
    )
            }



        </div>

        <input type="hidden" style="display:none" value="@Model.InitialModel.mrequest.Id" id="txtide" />



    </div>
</section>


@section Scripts{



    <script>
        function downloadButton_click(e) {
        /*    DevExpress.ui.notify("Download " + e.itemData, "success", 600);*/
        }
        var formz;
        function onFormInitialized(e) {
            formz = e.component;

            if ($("#txtide").val() != "0") {
           
                formz.itemOption("userdetail.txPassword", "visible", false);
            }
        }
        var chkl = {};
        var chklstr = "";
        var chklbool = "false";
        function gridBox_valueChanged(e) {
            var $dataGrid = $("#embedded-datagrid");

            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(e.value, false);
                chkl = e.value;
                chklbool = "true";
            }
        }


        var dt1 = "105";
        function FuncPass() {
            formz.itemOption("userdetail.txPassword", "visible", true);
        }
        $("#frm").submit(function () {
            var vals = $(this).serialize();


            if (chklbool =="true") {
                for (var i = 0; i < chkl.length; i++) {
                    if (i == 0) {
                        chklstr += "CompanyList=" + chkl[i].toString();
                    }
                    else {
                        chklstr += "&CompanyList=" + chkl[i].toString();
                    }
                }
                var chktt = vals;
                var ttt = chktt.search("CompanyList");

                
                vals = chktt.substr(0, ttt) + chklstr;
        

                $.ajax({
                    url: "/JsonService/MainPost/FormSubmitUser",
                    method: "POST",
                    data: vals,
                    success: function (data) {

                        location.href = "/admin/finance/menu/useredit?id=" + data;
                    }
                });
            }
            else {

                if ($("#txtide").val() != "0") {
                      var chktt = "@Model.InitialModel.mreqListCitiystr".split(';');
                var ttt = vals.search("CompanyList");
                for (var i = 0; i < chktt.length; i++) {
                    if (i == 0) {
                        chklstr += "CompanyList=" + chktt[i].toString();
                    }
                    else {
                        chklstr += "&CompanyList=" + chktt[i].toString();
                    }
                }
                vals = vals.substr(0, ttt) + chklstr;

            

                    $.ajax({
                        url: "/JsonService/MainPost/FormSubmitUser",
                        method: "POST",
                        data: vals,
                        success: function (data) {

                            location.href = "/admin/finance/menu/useredit?id=" + data;
                        }
                    });
                }
                else {
                    alert("Lütfen Şirket Seçiniz");
                    return;

                }

            }
        


            return false; // prevent from submit
        });

        
    </script>
} 