@page
@using System.Threading
@using fincheckup.ApiClients.Models
@using fincheckup.ApiClients.Models.Requests.Finance.DashCrm
@using fincheckup.ApiClients.Services.Finance

@model IndexModel
@{
    ViewData["Title"] = "Giriş Ekranı";
    Layout = "~/Pages/Shared/_LayoutFinancea.cshtml";
}


@functions {
    public class IndexModel(IFinanceDashCrmClient apiClient) : PageModel
    {
        private readonly IFinanceDashCrmClient _apiClient = apiClient ?? throw new ArgumentNullException(nameof(apiClient));

        //public IEnumerable<YearResult> myearResult;
        //public long UserID;
        //public long CompID;
        //public int CompCount;
        //public int YearCount;
        //public string CompName;
        //public List<DashYearlyResultCRMMain> RasyoAnalizCRM;
        //public List<DashYearlyResult> OzetMali;
        //public List<DashYearlyResult> LikiditeRiskTrend;
        //public HhvnUsers CurrentUser;
        //public IEnumerable<DashBoard> dash;
        //public IEnumerable<DashBoardRasyo> dashrasyo;
        //public DashYearlyResultChart RasyoAnalizView;
        //public DashYearlyResultChartCRM RasyoAnalizViewCrm;
        //public DashYearlyResultChart OzetMaliView;
        //public DashYearlyResultChart LikiditeRiskTrendView;
        //public IEnumerable<Entities.Company> mreqListCompany;
        //public int StartQuestions { get; set; }
        //public int AQuestions { get; set; }
        //public int BQuestions { get; set; }
        //public int CQuestions { get; set; }

        public FinanceDashCrmRequestInitialModel InitialModel;

        public async Task OnGet()
        {
            try
            {
                var response = await _apiClient.GetAsync(new FinanceDashCrmOnGetRequest(), CancellationToken.None);

                if (response.IsSuccess)
                {
                    InitialModel = response.Data?.InitialModel;
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public async Task<JsonResult> OnGetCasino(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetCasinoAsync(new FinanceDashCrmOnGetCasinoRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/DashCrm OnGetCasino");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }

        public async Task<JsonResult> OnGetChartRasyo(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetOnGetChartRasyoAsync(new FinanceDashCrmOnGetChartRasyoRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/DashCrm OnGetChartRasyo");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public async Task<JsonResult> OnGetChartRasyoa(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetChartRasyoaAsync(new FinanceDashCrmOnGetChartRasyoaRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/DashCrm OnGetChartRasyoa");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public async Task<JsonResult> OnGetChartRasyob(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetChartRasyobAsync(new FinanceDashCrmOnGetChartRasyobRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/DashCrm OnGetChartRasyob");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public async Task<JsonResult> OnGetChartRasyoc(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetChartRasyocAsync(new FinanceDashCrmOnGetChartRasyocRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/DashCrm OnGetChartRasyoc");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public async Task<JsonResult> OnGetChartMali(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetChartMaliAsync(new FinanceDashCrmOnGetChartMaliRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/DashCrm OnGetChartMali");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }

        public async Task<JsonResult> OnGetChartLikid(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetChartLikidAsync(new FinanceDashCrmOnGetChartLikidRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/DashCrm OnGetChartLikid");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public async Task<JsonResult> OnGetDashRasyo(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetDashRasyoAsync(new FinanceDashCrmOnGetDashRasyoRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/DashCrm OnGetDashRasyo");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public JsonResult OnGetGraphYear(int nyear)
        {
            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //HhvnUsers.SetYear(nyear, UserID);
            //return new JsonResult("ok");

            return new JsonResult("Entegrasyon eksik finance/DashCrm OnGetGraphYear");
        }
        
        public JsonResult OnGetGraphComp(int ncompid)
        {
            //if (ncompid < 1)
            //{
            //return new JsonResult("nok");
            //}
            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //if (!HhvnUsers.CheckUser(ncompid, UserID))
            //{
            //    return new JsonResult("ok");
            //}
            //UserCompany.Update_UserDefault(UserID, ncompid);

            //return new JsonResult("ok");
            return new JsonResult("Entegrasyon eksik finance/DashCrm OnGetGraphComp");
        }
    }
}
@section Styles {
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/morrisjs/morris.css">
    <style>

        .dxc-tooltip {
            z-index: 1111;
        }
    </style>
}
<section class="content home" id="employee">
    @(Html.DevExtreme().LoadPanel()
        .ID("loadPanel")
        .ShadingColor("rgba(0,0,0,0.4)")
        .Position(p => p.Of("#employee"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(true)
        .Shading(true)
        .HideOnOutsideClick(false)
        .OnShown("loadPanel_shown")
    )

    <input type="hidden" style="display:none" id="txtmyear" value="@Model.InitialModel.CurrentUser.SelectedYear" />
    <input type="hidden" style="display:none" id="txtmcomp" value="@Model.InitialModel.CompID" />
    <input type="hidden" style="display:none" id="txtyearcount" value="@Model.InitialModel.YearCount" />
    <input type="hidden" style="display:none" id="txtcompcount" value="@Model.InitialModel.CompCount" />
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Rasyo-Dashboard</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">CPM-Dashboard</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <div class="col-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                                        <div class="col-6" style="text-align:left">

                                            @(Html.DevExtreme().SelectBox()
                                                .DataSource(Model.InitialModel.myearResult).ID("slctYear").OnInitialized("selectYear_Initialized")
                    .DisplayExpr("MText").OnSelectionChanged("selectYear_valueChanged")
                    .ValueExpr("MYear").Width(105)
                )
                                        </div>
                                        <div class="col-6" style="text-align:right">
 
                                            @(Html.DevExtreme().TextBox()
                                                .Value(Model.InitialModel.CompName).ReadOnly(true)
                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card visitors-map">


                    <div class="header-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h5 class="m-t-0 m-b-5">Banka Hareketleri ilk 10</h5>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <a class="btn btn-info" href="/admin/finance/dashcrmdetail">Tüm Liste</a>
                            </div>
                        </div>
                    </div>

                    <div class="body m-b-10">

                        @(Html.DevExtreme().Chart()
        .ID("pivotgrid-chart")
        .CommonSeriesSettings(s => s.Type(SeriesType.Bar))
        .Tooltip(t => t.Enabled(true)
        .Format(Format.Millions)
        .CustomizeTooltip(@<text>
            function (arg) {

                return {
                    text: arg.seriesName + "<br />" + arg.valueText
                };
            }
        </text>
    ).Format(Format.Decimal))
        .Size(s => s.Height(200))
        .AdaptiveLayout(l => l.Width(450))
    )
                        @(Html.DevExtreme().PivotGrid<DashYearlyResultCRM>()
        .ID("pivotgrid")
        .AllowSortingBySummary(true)
        .AllowFiltering(true)
        .ShowBorders(true)
        .ShowColumnGrandTotals(false).AllowExpandAll(true)
        .ShowRowGrandTotals(false)
        .ShowRowTotals(false)
        .ShowColumnTotals(false)
        .FieldChooser(c => c.Enabled(false).Height(400))
        .DataSource(d => d
            .Store(s => s.RemoteController().LoadUrl(Url.Page(null, "ChartRasyo")))
            .Fields(fields => {
                fields.AddFor(m => m.Description)
       .Width(120)
       .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.None).AllowSorting(true)
       ;
                fields.AddFor(m => m.ValueType).SortBy(PivotGridSortBy.None).AllowSorting(true).Area(PivotGridArea.Column).Expanded(true);

                fields.AddFor(m => m.Value)
                    .SummaryType(SummaryType.Max)
                    .Format("#,##0.00")
                    .Area(PivotGridArea.Data);
            })
        )
        .OnInitialized("bind_chart")
    )

                        <script>

                            function bind_chart(e) {
                                e.component.bindChart($("#pivotgrid-chart"), {
                                    dataFieldsDisplayMode: "splitPanes",
                                    alternateDataFields: false
                                });

                            }

                        </script>
                    </div>


                </div>
                <div class="card visitors-map">

                    <div class="header-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h5 class="m-t-0 m-b-5">Verilen Çek Hareketleri ilk 10</h5>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <a class="btn btn-info" href="/admin/finance/dashcrmdetaila">Tüm Liste</a>
                            </div>
                        </div>
                    </div>



                    <div class="body m-b-10">

                        @(Html.DevExtreme().Chart()
        .ID("pivotgrid-charta")
        .CommonSeriesSettings(s => s.Type(SeriesType.Bar))
        .Tooltip(t => t.Enabled(true)
        .Format(Format.Millions)
        .CustomizeTooltip(@<text>
            function (arg) {

                return {
                    text: arg.seriesName + "<br />" + arg.valueText
                };
            }
        </text>
    ).Format(Format.Decimal))
        .Size(s => s.Height(200))
        .AdaptiveLayout(l => l.Width(450))
    )
                        @(Html.DevExtreme().PivotGrid<DashYearlyResultCRM>()
        .ID("pivotgrida")
        .AllowSortingBySummary(true)
        .AllowFiltering(true)
        .ShowBorders(true)
        .ShowColumnGrandTotals(false).AllowExpandAll(true)
        .ShowRowGrandTotals(false)
        .ShowRowTotals(false)
        .ShowColumnTotals(false)
        .FieldChooser(c => c.Enabled(false).Height(400))
        .DataSource(d => d
            .Store(s => s.RemoteController().LoadUrl(Url.Page(null, "ChartRasyoa")))
           .Fields(fields =>
           {
               fields.AddFor(m => m.Description)
        .Width(120)
        .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.None).AllowSorting(true)
        ;
               fields.AddFor(m => m.ValueType).SortBy(PivotGridSortBy.None).AllowSorting(true).Area(PivotGridArea.Column).Expanded(true);

               fields.AddFor(m => m.Value)
                   .SummaryType(SummaryType.Max)
                   .Format("#,##0.00")
                   .Area(PivotGridArea.Data);
           })
        )
        .OnInitialized("bind_charta")
    )

                        <script>

                            function bind_charta(e) {
                                e.component.bindChart($("#pivotgrid-charta"), {
                                    dataFieldsDisplayMode: "splitPanes",
                                    alternateDataFields: false
                                });

                            }

                        </script>
                    </div>


                </div>
                <div class="card visitors-map">

                    <div class="header-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h5 class="m-t-0 m-b-5">Alınan Çek Hareketleri ilk 10</h5>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <a class="btn btn-info" href="/admin/finance/dashcrmdetailc">Tüm Liste</a>
                            </div>
                        </div>
                    </div>



                    <div class="body m-b-10">

                        @(Html.DevExtreme().Chart()
        .ID("pivotgrid-chartcz")
        .CommonSeriesSettings(s => s.Type(SeriesType.Bar))
        .Tooltip(t => t.Enabled(true)
        .Format(Format.Millions)
        .CustomizeTooltip(@<text>
            function (arg) {

                return {
                    text: arg.seriesName + "<br />" + arg.valueText
                };
            }
        </text>
    ).Format(Format.Decimal))
        .Size(s => s.Height(200))
        .AdaptiveLayout(l => l.Width(450))
    )
                        @(Html.DevExtreme().PivotGrid<DashYearlyResultCRM>()
        .ID("pivotgridcz")
        .AllowSortingBySummary(true)
        .AllowFiltering(true)
        .ShowBorders(true)
        .ShowColumnGrandTotals(false).AllowExpandAll(true)
        .ShowRowGrandTotals(false)
        .ShowRowTotals(false)
        .ShowColumnTotals(false)
        .FieldChooser(c => c.Enabled(false).Height(400))
        .DataSource(d => d
            .Store(s => s.RemoteController().LoadUrl(Url.Page(null, "ChartRasyoc")))
           .Fields(fields =>
           {
               fields.AddFor(m => m.Description)
        .Width(120)
        .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.None).AllowSorting(true)
        ;
               fields.AddFor(m => m.ValueType).SortBy(PivotGridSortBy.None).AllowSorting(true).Area(PivotGridArea.Column).Expanded(true);

               fields.AddFor(m => m.Value)
                   .SummaryType(SummaryType.Max)
                   .Format("#,##0.00")
                   .Area(PivotGridArea.Data);
           })
        )
        .OnInitialized("bind_chartcz")
    )

                        <script>

                            function bind_chartcz(e) {
                                e.component.bindChart($("#pivotgrid-chartcz"), {
                                    dataFieldsDisplayMode: "splitPanes",
                                    alternateDataFields: false
                                });

                            }

                        </script>
                    </div>


                </div>
                <div class="card visitors-map">
                    <div class="header-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h5 class="m-t-0 m-b-5">Alıcılar ilk 10</h5>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <a class="btn btn-info" href="/admin/finance/dashcrmdetailb">Tüm Liste</a>
                            </div>
                        </div>
                    </div>



                    <div class="body m-b-10">

                        @(Html.DevExtreme().Chart()
        .ID("pivotgrid-chartb")
        .CommonSeriesSettings(s => s.Type(SeriesType.Bar))
        .Tooltip(t => t.Enabled(true)
        .Format(Format.Millions)
        .CustomizeTooltip(@<text>
            function (arg) {

                return {
                    text: arg.seriesName + "<br />" + arg.valueText
                };
            }
        </text>
    ).Format(Format.Decimal))
        .Size(s => s.Height(200))
        .AdaptiveLayout(l => l.Width(450))
    )
                        @(Html.DevExtreme().PivotGrid<DashYearlyResultCRM>()
        .ID("pivotgridb")
        .AllowSortingBySummary(true)
        .AllowFiltering(true)
        .ShowBorders(true)
        .ShowColumnGrandTotals(false).AllowExpandAll(true)
        .ShowRowGrandTotals(false)
        .ShowRowTotals(false)
        .ShowColumnTotals(false)
        .FieldChooser(c => c.Enabled(false).Height(400))
        .DataSource(d => d
            .Store(s => s.RemoteController().LoadUrl(Url.Page(null, "ChartRasyob")))
           .Fields(fields =>
           {
               fields.AddFor(m => m.Description)
      .Width(120)
      .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.None).AllowSorting(true)
      ;
               fields.AddFor(m => m.ValueType).SortBy(PivotGridSortBy.None).AllowSorting(true).Area(PivotGridArea.Column).Expanded(true);

               fields.AddFor(m => m.Value)
                   .SummaryType(SummaryType.Max)
                   .Format("#,##0.00")
                   .Area(PivotGridArea.Data);
           })
        )
        .OnInitialized("bind_chartb")
    )

                        <script>

                            function bind_chartb(e) {
                                e.component.bindChart($("#pivotgrid-chartb"), {
                                    dataFieldsDisplayMode: "splitPanes",
                                    alternateDataFields: false
                                });

                            }

                        </script>
                    </div>


                </div>

                <input id="txtool" type="hidden" />


            </div>


        </div>



    </div>
</section>

@section Scripts{
    <script>
        var tyear = $("#txtmyear").val();
        var mcompid = $("#txtmcomp").val();

        function changeInnerHtml(elementPath, newText) {
            $(elementPath).fadeOut(500, function () {
                $(this).html(newText).fadeIn(500);
            });
        }
       
        $('td').hover(function () {
            // grab class attribute, split on space character (like you're doing already)
            var class_names = $(this).attr('class').split(' ');

            // loop through each class
            $.each(class_names, function (k, v) {

                // see if this 1 class matches your example
                if (v.indexOf("dx-pivotgrid-vertical-headers") > 0) {
                    // if it does, remove text part of class name
    /*                var this_num = v.replace('-example-class', '');*/
                    // output numeric value only to console

                }
                if (v.indexOf("dx-last-cell") > 0) {
                    // if it does, remove text part of class name
                    /*                var this_num = v.replace('-example-class', '');*/
                    // output numeric value only to console

                }


            });

        });
    </script>
    <script>
        function getLoadPanelInstance() {
            return $("#loadPanel").dxLoadPanel("instance");
        }
        function loadPanel_shown(e) {
            setTimeout(function () {
                e.component.hide();
            }, 7000);
        }
        var misready = "nok";
        var chkReadyState = setInterval(function () {
            if (document.readyState == "complete") {

                clearInterval(chkReadyState);

                misready = "ok";
            }
        }, 100);

        function getselectYearInstance() {
            return $("#slctYear").dxSelectBox("instance");
        }
        
        function selectYear_Initialized() {
            getselectYearInstance().option("value", parseInt($("#txtmyear").val()));
            var chkco = parseInt($("#txtyearcount").val());

            if (chkco < 2) {
                getselectYearInstance().option("readOnly", true);
            }


        }

       

        function selectYear_valueChanged(data) {
            var slctval = data.selectedItem.MYear;
            var turl = '/admin/finance/dashbilanco?handler=GraphYear&nyear=' + slctval;

            if (misready == "ok" && tyear.toString() != slctval.toString()) {
                getLoadPanelInstance().show();
                $.ajax({
                    type: "GET",
                    url: turl,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response == "ok") {
                            location.reload();
                        }
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }

        }

         

    </script>
}