@page
@using System.Threading
@using fincheckup.ApiClients.Models
@using fincheckup.ApiClients.Models.Requests.Finance.FinanceHrtNeo
@using fincheckup.ApiClients.Services.Finance
@model IndexModel
@{
    ViewData["Title"] = "Giriş Ekranı";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


@functions {
    public class IndexModel(IFinanceHrtNeoClient apiClient) : PageModel
    {
        private readonly IFinanceHrtNeoClient _apiClient = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
        public FinanceFinanceHrtNeoRequestInitialModel InitialModel;

        public async Task OnGet()
        {
            try
            {
                var response = await _apiClient.GetAsync(new FinanceFinanceHrtNeoOnGetRequest(), CancellationToken.None);

                if (response.IsSuccess)
                {
                    InitialModel = response.Data?.InitialModel;
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public JsonResult OnGetSalerMain(DataSourceLoadOptions options, string dt1)
        {

            //dt1 = "105";
            //var winModelTlist = Data.Get_AllbyCsvID(dt1);
            //return new JsonResult(DataSourceLoader.Load(winModelTlist, options));
            return new JsonResult("Entegrasyon eksik finance/FinanceHrtNeo OnGetSalerMain");
        }

        public JsonResult OnGetPrio(DataSourceLoadOptions options)
        {

            //return new JsonResult(DataSourceLoader.Load(ShedulerCL.PriorityResources, options));
            return new JsonResult("Entegrasyon eksik finance/FinanceHrtNeo OnGetPrio");
        }
        
        public JsonResult OnGetGraphYear(int nyear)
        {
            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //HhvnUsers.SetYear(nyear, UserID);
            //return new JsonResult("ok");
            return new JsonResult("Entegrasyon eksik finance/FinanceHrtNeo OnGetGraphYear");
        }
        
        public async Task<JsonResult> OnGetChartRasyo(DataSourceLoadOptions options)
        {
            try
            {
                var response = await _apiClient.GetChartRasyoAsync(new FinanceFinanceHrtNeoOnGetChartRasyoRequest
                    {
                        options = options
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/FinanceHrtNeo OnGetChartRasyo");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public async Task<JsonResult> OnGetMarkupMarjin(DataSourceLoadOptions options, long compid)
        {
            try
            {
                var response = await _apiClient.GetMarkupMarjinAsync(new FinanceFinanceHrtNeoOnGetMarkupMarjinRequest
                    {
                        options = options,
                        compid = compid
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/FinanceHrtNeo OnGetMarkupMarjin");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public async Task<JsonResult> OnGetMarkupMarjinA(DataSourceLoadOptions options, long compid)
        {
            try
            {
                var response = await _apiClient.GetMarkupMarjinAAsync(new FinanceFinanceHrtNeoOnGetMarkupMarjinARequest
                    {
                        options = options,
                        compid = compid
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/FinanceHrtNeo OnGetMarkupMarjinA");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public async Task<JsonResult> OnGetMarkupMarjinB(DataSourceLoadOptions options, long compid)
        {
            try
            {
                var response = await _apiClient.GetMarkupMarjinBAsync(new FinanceFinanceHrtNeoOnGetMarkupMarjinBRequest
                    {
                        options = options,
                        compid = compid
                    }, CancellationToken.None);

                if (response.IsSuccess)
                {
                    return new JsonResult(response.Data?.Response);
                }

                Console.WriteLine(response.ProblemDetails.Detail);
                return new JsonResult("Burada hata var finance/FinanceHrtNeo OnGetMarkupMarjinB");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
        }
        
        public JsonResult OnGetGraphComp(int ncompid)
        {
            //if (ncompid < 1)
            //{
            //    return new JsonResult("nok");
            //
            //}
            //
            //UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            //if (!HhvnUsers.CheckUser(ncompid, UserID))
            //{
            //    return new JsonResult("ok");
            //}
            //
            //
            //
            //UserCompany.Update_UserDefault(UserID, ncompid);
            //
            //return new JsonResult("ok");
            return new JsonResult("Entegrasyon eksik finance/FinanceHrtNeo OnGetGraphComp");
        }
    }
}
@section Styles {
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/morrisjs/morris.css">
    <style>
        .tdnormall {
            padding-top: 0.1rem !important;
            padding-left: 0.75rem !important;
            padding-bottom: 0.1rem !important;
            padding-right: 0.75rem !important;
        }

        #chartxt {
            max-height: 255px !important;
        }

        #pivotgrid td {
            vertical-align: middle;
        }

        #pivotgrid .chart-cell {
            overflow: visible;
        }

        #pivotgrid .current-value {
            display: inline-block;
        }

        #pivotgrid .diff {
            position: relative;
            display: table-cell;
            font-size: 16px;
        }

        #pivotgrid .inc .diff {
            color: #2ab71b;
        }

            #pivotgrid .inc .diff:before {
                content: '+';
            }

        #pivotgrid .dec .diff:before {
            content: '-';
        }

        #pivotgrid .dec .diff {
            color: #f00;
        }

            #pivotgrid .inc .diff:after,
            #pivotgrid .dec .diff:after {
                content: '';
                display: block;
                height: 10px;
                width: 10px;
                position: absolute;
                right: -12px;
                top: 6px;
                background-repeat: no-repeat;
                background-size: 10px 10px;
            }

        #pivotgrid .inc .diff:after {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADKSURBVHjaYtTaLs1ABEiG0nPRJa56PEHhsxBhmCUQT4OyrwHxcXyKmQgYJgHE64CYDYrXQcXIMhCbAcgWkGzgNKh38QUB0QamIUUErkhKI9ZAGyCeTERkTYaqxWsgKA2txhdG6GGsvUNGGpeBRMUiGhCFGsqGzUBQQJsxkA5AemaiG5hDIBIIgQSgK0FmMDACs549kN5FZLjhA7+A2A2U9YSAOBeLAk4gnoBDczoOcSFGPIUDPxB/wCHHiKtwYGKgMhg1cBAaCBBgAJTUIL3ToPZfAAAAAElFTkSuQmCC');
        }

        #pivotgrid .dec .diff:after {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADJSURBVHjaYvzPgBfgkhYA4o8QFahKmBioDEYNHIQGsgBxIBCLkqgvAYi/g1mMjMjir0EJzR6If/6HpChKMMgMe3DKBeIcKhiY8x/MYoDj+RQYNgdkGLqBbEB8kgzDToL1YjEQhKWB+BUJhj0H64Eahs1AELYhMpJ+gtUiGYbLQBBOI8LANLBaIg1kAAc0vkiAqSPBQFAkHcNi2DGoHMkGgrAENOCRI0ECRQ2JBoKwJTQCfkLZDPgMZPxPXN5NhtJzMSsJVBMAAgwAyWSY2svfmrwAAAAASUVORK5CYII=');
        }
    </style>
}
<section class="content home" id="employee">
    @(Html.DevExtreme().LoadPanel()
        .ID("loadPanel")
        .ShadingColor("rgba(0,0,0,0.4)")
        .Position(p => p.Of("#employee"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(true)
        .Shading(true)
        .HideOnOutsideClick(false)
        .OnShown("loadPanel_shown")
        )

    <input type="hidden" style="display:none" id="txtmyear" value="@Model.InitialModel.CurrentUser.SelectedYear" />
    <input type="hidden" style="display:none" id="txtmcomp" value="@Model.InitialModel.CompID" />
    <input type="hidden" style="display:none" id="txtyearcount" value="@Model.InitialModel.YearCount" />
    <input type="hidden" style="display:none" id="txtcompcount" value="@Model.InitialModel.CompCount" />
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Bilanço</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i></a>Gelir Tablosu</li>
                        <li class="breadcrumb-item active">Revenue</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <div class="col-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">

                                        <div class="col-6" style="text-align:left">

                                            <div id="exportGrids"></div>
                                        </div>
                                        <div class="col-6" style="text-align: right  ">

                                            @(Html.DevExtreme().SelectBox().Visible(false)
                                                .DataSource(Model.InitialModel.mreqListCompany).ID("slctCompany").OnSelectionChanged("selectCompany_valueChanged")
                                                .DisplayExpr("CompanyName").OnInitialized("selectComp_Initialized")
                                                .ValueExpr("ID").FieldTemplate(@<text>
                                                <div class="custom-item">

                                                    @(Html.DevExtreme().TextBox()
                                                    .Value(new JS("typeof CompanyName !== 'undefined' && CompanyName"))
                                                    .ElementAttr("class", "productname")
                                                    .ReadOnly(true)
                                                    )
                                                </div>
                                            </text>).ItemTemplate(@<text>
                                                <div class="custom-item">
                                                    <div class="product-name" style="text-align:right">[%- CompanyName %]</div>
                                                </div>
                                            </text>)
                                                )
                                            @(Html.DevExtreme().TextBox()
                                                .Value(Model.InitialModel.CompName).ReadOnly(true)
                                                )

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="body">

                        <div class="row">

                            <div class="col-md-12 col-lg-12">
                                <div class="row clearfix">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="card">
                                            <div class="body">
                                                <div class="row">

                                                    @(Html.DevExtreme().PivotGrid<DashShortView>()
                                                        .ID("pivotgrid")
                                                        .AllowSortingBySummary(true)
                                                        .AllowFiltering(true)
                                                        .ShowBorders(true).AllowExpandAll(true)
                                                        .ShowColumnGrandTotals(false).AllowExpandAll(true)
                                                        .ShowRowGrandTotals(false)
                                                        .ShowRowTotals(false)
                                                        .OnCellPrepared("cell_prepared")
                                                        .ShowColumnTotals(false).FieldChooser(fc => fc
                                                        .AllowSearch(false)
                                                        .ApplyChangesMode(ApplyChangesMode.Instantly)).FieldPanel(e => e.ShowColumnFields(true).ShowDataFields(false).ShowFilterFields(false).ShowRowFields(false))

                                                        .DataSource(d => d
                                                        .Store(s => s.RemoteController().LoadUrl(Url.Page(null, "MarkupMarjinA")).LoadParams(new { compid = new JS("function() {return mcompid; }") }))
                                                        .Fields(fields =>
                                                        {
                                                            fields.AddFor(m => m.GroupName)
                                                            .Width(170)
                                                            .Area(PivotGridArea.Row).Expanded(true).Visible(false)
                                                            ; fields.AddFor(m => m.AccountMainID)
                                                            .Width(120)
                                                            .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.Value).Visible(false)
                                                            ;
                                                            fields.AddFor(m => m.AccountMainDescription)
                                                            .Width(170)
                                                            .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.None).AllowFiltering(false)
                                                            ;

                                                            fields.AddFor(m => m.Year).SortBy(PivotGridSortBy.Value).Area(PivotGridArea.Column).Expanded(true);

                                                            fields.AddFor(m => m.Amount)
                                                            .SummaryType(SummaryType.Sum).Caption("Değer")
                                                            .DataType(PivotGridDataType.Number).Format(x => x.Precision(1)).Format(Format.FixedPoint)
                                                            .Area(PivotGridArea.Data);
                                                            
                                                        })
                                                        )
                                                        )



                                                </div>


                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="card">
                                            <div class="body">
                                                <div class="row">

                                                    @(Html.DevExtreme().PivotGrid<DashShortView>()
                                                        .ID("pivotgrida")
                                                        .AllowSortingBySummary(true)
                                                        .AllowFiltering(true)
                                                        .ShowBorders(true).AllowExpandAll(true)
                                                        .ShowColumnGrandTotals(false).AllowExpandAll(true)
                                                        .ShowRowGrandTotals(false)
                                                        .ShowRowTotals(false)
                                                        .OnCellPrepared("cell_prepared")
                                                        .ShowColumnTotals(false).FieldChooser(fc => fc
                                                        .AllowSearch(false)
                                                        .ApplyChangesMode(ApplyChangesMode.Instantly)).FieldPanel(e => e.ShowColumnFields(true).ShowDataFields(false).ShowFilterFields(false).ShowRowFields(false))

                                                        .DataSource(d => d
                                                        .Store(s => s.RemoteController().LoadUrl(Url.Page(null, "MarkupMarjinB")).LoadParams(new { compid = new JS("function() {return mcompid; }") }))
                                                        .Fields(fields =>
                                                        {
                                                            fields.AddFor(m => m.GroupName)
                                                            .Width(170).Visible(false)
                                                            .Area(PivotGridArea.Row).Expanded(true)
                                                            ; fields.AddFor(m => m.AccountMainID)
                                                            .Width(120)
                                                            .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.Value).Visible(false)
                                                            ;
                                                            fields.AddFor(m => m.AccountMainDescription)
                                                            .Width(170)
                                                            .Area(PivotGridArea.Row).SortBy(PivotGridSortBy.None).AllowFiltering(false)
                                                            ;

                                                            fields.AddFor(m => m.Year).SortBy(PivotGridSortBy.Value).Area(PivotGridArea.Column).Expanded(true);

                                                            fields.AddFor(m => m.Amount)
                                                            .SummaryType(SummaryType.Sum).Caption("Değer")
                                                            .DataType(PivotGridDataType.Number).Format(x => x.Precision(1)).Format(Format.FixedPoint)
                                                            .Area(PivotGridArea.Data); 
                                                        })
                                                        )
                                                        )



                                                </div>


                                            </div>
                                        </div>


                                    </div>
                                </div>



                            </div>

                        </div>



                    </div>

                </div>

            </div>




        </div>





    </div>
</section>


@section Scripts {
    <script src="/js/a_poly.js"></script>
    <script src="/js/a_excel.js"></script>
    <script src="/js/a_filesave.js"></script>

    <script>
        var formatCurrency = new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", minimumFractionDigits: 2 }).format;

        function cell_prepared(e) {
            var fieldData = e.value;
            var fieldHtml = "";


            // if (e.area == 'data' && e.cell.columnPath[0] == 2021 ) {
            //    // e.cellElement.css('background-color', 'red');
            // }
            // if (e.area == 'data' ) {
            //     console.log(e.cell.columnPath[0]);
            //     console.log(e.cell.columnType);
            //     console.log(e.cell.rowPath[0]);
            // }
            // if (fieldData && fieldData.Value) {
            //     if (fieldData.Diff) {
            //         options.cellElement.addClass((fieldData.Diff > 0) ? "inc" : "dec");
            //         fieldHtml += "<div class='current-value'>" +
            //             formatCurrency(fieldData.Value) +
            //             "</div> <div class='diff'>" +
            //             Math.abs(fieldData.Diff).toFixed(2) +
            //             "  </div>";
            //     } else {
            //         fieldHtml = fieldData.Value;
            //     }
            //     options.cellElement.html(fieldHtml);
            // }
        }

        function getfdate() {
            //
            var usrdate = sessionStorage.getItem("fnckpyear");
            if (usrdate == null || usrdate == undefined || usrdate == "null") {


                usrdate = "";
            }
            else {
                return usrdate;
            }

        };
        var myearcount = "@Model.InitialModel.YearCount";
        var iNum = (parseInt(myearcount) * 3);
        var tchek = getfdate();

        $("#exportGrids").dxButton({
            text: "Excel Raporu",
            onClick: function () {
                var dataGrid1 = $("#pivotgrid").dxPivotGrid("instance");
                var dataGrid2 = $("#pivotgrida").dxPivotGrid("instance");
                var workbook = new ExcelJS.Workbook();
                var worksheet = workbook.addWorksheet('Main sheet');

                Object.assign(
                    worksheet.getRow(2).getCell(2),
                    { value: "AKTİFLER", font: { bold: true, size: 16, underline: 'double' } }
                );
                Object.assign(
                    worksheet.getRow(2).getCell(iNum),
                    { value: "PASİFLER", font: { bold: true, size: 16, underline: 'double' } }
                );

                DevExpress.excelExporter.exportPivotGrid({
                    worksheet,
                    component: dataGrid1,
                    topLeftCell: { row: 4, column: 2 }
                }).then(function (dataGridRange) {
                    return DevExpress.excelExporter.exportPivotGrid({
                        worksheet,
                        component: dataGrid2,
                        topLeftCell: { row: 4, column: (dataGridRange.to.column + 2) }
                    });
                }).then(function () {
                    workbook.xlsx.writeBuffer().then(function (buffer) {
                        saveAs(new Blob([buffer], { type: "application/octet-stream" }), "BalanceSheet.xlsx");
                    });
                });
            }
        });

        // function onExporting(e) {
        //     var workbook = new ExcelJS.Workbook();
        //     var worksheet = workbook.addWorksheet('balancesheet');

        //     DevExpress.excelExporter.exportPivotGrid({
        //         component: e.component,
        //         worksheet: worksheet
        //     }).then(function () {
        //         workbook.xlsx.writeBuffer().then(function (buffer) {
        //             saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'balancesheet.xlsx');
        //         });
        //     });
        //     e.cancel = true;
        // }
    </script>

    <script>
        var tyear = $("#txtmyear").val();
        var mcompid = $("#txtmcomp").val();
        function getLoadPanelInstance() {
            return $("#loadPanel").dxLoadPanel("instance");
        }
        function loadPanel_shown(e) {
            setTimeout(function () {
                e.component.hide();
            }, 7000);
        }
        var misready = "nok";
        var chkReadyState = setInterval(function () {
            if (document.readyState == "complete") {

                clearInterval(chkReadyState);

                misready = "ok";
            }
        }, 100);

        function getselectYearInstance() {
            return $("#slctYear").dxSelectBox("instance");
        }
        function getselectCompInstance() {
            return $("#slctCompany").dxSelectBox("instance");
        }
        function selectYear_Initialized() {
            getselectYearInstance().option("value", parseInt($("#txtmyear").val()));
            var chkco = parseInt($("#txtyearcount").val());

            if (chkco < 2) {
                getselectYearInstance().option("readOnly", true);
            }


        }

        function selectComp_Initialized() {

            var chkco = parseInt($("#txtcompcount").val());
            getselectCompInstance().option("value", parseInt($("#txtmcomp").val()));

            if (chkco < 2) {
                getselectCompInstance().option("readOnly", true);
            }
        }


        function selectYear_valueChanged(data) {
            var slctval = data.selectedItem.MYear;
            var turl = '/admin/dashbilanco?handler=GraphYear&nyear=' + slctval;

            if (misready == "ok" && tyear.toString() != slctval.toString()) {
                getLoadPanelInstance().show();
                $.ajax({
                    type: "GET",
                    url: turl,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response == "ok") {
                            location.reload();
                        }
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }

        }

        function selectCompany_valueChanged(data) {
            var slctval = data.selectedItem.ID;

            var turl = '/admin/dashbilanco?handler=GraphComp&ncompid=' + slctval;
            if (misready == "ok" && mcompid.toString() != slctval.toString()) {
                getLoadPanelInstance().show();
                $.ajax({
                    type: "GET",
                    url: turl,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response == "ok") {
                            location.reload();
                        }

                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }


        }


        var dt1 = "105";
    </script>
} 